formats/glover.lev.dtd

<!--
   WARNING!!
   THIS FILE IS AUTOGENERATED FROM formats/glover.lev.ksy
   DIRECT EDITS TO IT WILL LIKELY BE LOST
-->

<!ELEMENT Level ((
   UnknownSound0xbd |
   EnvironmentalSound |
   Unknown0xa9 |
   MrTip |
   DiffuseLight |
   AmbientLight |
   GloverSpawnPoint |
   BallSpawnPoint |
   CameraSpawnPoint |
   FogConfiguration |
   Actor0xbf |
   AnimatedBackgroundActor |
   BackgroundActor |
   LandActor |
   SetActorRotation |
   SetActorScale |
   Wind |
   Water |
   Backdrop |
   Cameo |
   CameoInst0 |
   CameoInst1 |
   CameoInst2 |
   CameoInst3 |
   CameoInst4 |
   CameoInst5 |
   CameoInst6 |
   CameoInstDefault |
   Puzzle |
   PuzzleAnd |
   PuzzleOr |
   PuzzleNumtimes |
   PuzzleAny |
   PuzzleCondA |
   PuzzleCondB |
   PuzzleCondC |
   PuzzleCondD |
   PuzzleCondE |
   PuzzleAction0x4f |
   PuzzleAction0x350x3b0x3c0x3d0x3e0x3f0x40 |
   PuzzleActionDefault |
   PuzzleAction0x460x470x48 |
   PuzzleAction0x490x4d |
   PuzzleAction0x4a |
   PuzzleAction0x54 |
   PuzzleAction0x55 |
   PuzzleAction0x56 |
   PuzzleAction0x4b0x4c |
   GaribGroup |
   Garib |
   Powerup |
   PlatMvspn0x58 |
   PlatMvspn0x59 |
   PlatMvspn0x5a |
   PlatSetParent |
   PlatMvspn0x73 |
   PlatMvspn0x74 |
   PlatCopySpinFromParent |
   PlatSpecial0xb8 |
   PlatActorEnableWaterAnimation |
   SetGlobal0xb7 |
   Buzzer |
   BuzzerDutyCycle |
   SetObjectSparkle |
   PlatSpecial0xb9 |
   SetExit |
   PlatCat0x69 |
   PlatformConveyor |
   PlatSpecial0x9e |
   SetTeleport |
   PlatFan0x8a |
   PlatMagnet0x8b |
   PlatCheckpoint |
   PlatCrumb0x67 |
   PlatSpecial0xc7 |
   PlatSpecial0x6e |
   PlatSpecial0x8e |
   PlatPush0x5b |
   PlatConf0x72 |
   PlatOrbitSound0xc4 |
   Plat0xc6 |
   PlatOrbitAroundPoint |
   PlatOrbitPause |
   PlatOrbitFlip0x77 |
   Plat0xc3 |
   PlatSpinSound0xc5 |
   Plat0x9f |
   PlatSpinPause0x7c |
   PlatSpinFlip |
   Plat0x7e |
   PlatConstantSpin |
   PlatSpin0x80 |
   PlatTopple0x81 |
   LookAtHand0x60 |
   LookAtBall0x61 |
   PlatRocking |
   Plat0x78 |
   PlatSound0xc1 |
   PlatSound0xc2 |
   PlatTurnTowardsPathPoint |
   PlatGoForwards0x5f |
   PlatPathPoint |
   PlatMaxVelocity |
   PlatPathAcceleration |
   PlatPos0xa7 |
   PlatSetInitialPos |
   PlatPlayObjectAnimation |
   Plat0xa4 |
   PlatVentAdvanceFrames |
   PlatNoClip |
   PlatDestructible |
   PlatDestructibleSound |
   Plat0x9d |
   Plat0x66 |
   PlatActorSurfaceType |
   PlatSetTag |
   PlatSpike |
   PlatScale |
   PlatStr0x7a |
   Rope |
   PlatSine |
   PlatOrbit |
   Vent |
   VentDutyCycle |
   Platform |
   NullPlatform |
   Enemy |
   EnemySetAttentionBbox |
   Enemy0xba |
   EnemyFinalize |
   EnemyNormalInstruction |
   EnemyConditionalInstruction |
   EnemyAttackInstruction |
   EnemyInstructionA |
   EnemyInstructionDash |
   EnemyInstructionMove |
   EnemyInstructionTurn |
   EnemyInstructionGoto |
   EnemyInstructionRandomWalk |
   EnemyInstructionPlayAnimation |
   EnemyInstructionRest |
   EnemyInstructionAttack |
   EnemyInstructionC |
   EnemyInstructionError |
   EndLevelData |
   Noop |
   Unknown
)*)>
   <!ATTLIST Level name CDATA #REQUIRED>
   <!ATTLIST Level libgarib-version CDATA #FIXED "unknown+gaf2b902">

<!ELEMENT UnknownSound0xbd EMPTY>
   <!ATTLIST UnknownSound0xbd h_0x00 CDATA #REQUIRED>
   <!ATTLIST UnknownSound0xbd h_0x02 CDATA #REQUIRED>
   <!ATTLIST UnknownSound0xbd h_0x04 CDATA #REQUIRED>

<!ELEMENT EnvironmentalSound EMPTY>
   <!ATTLIST EnvironmentalSound sound_id CDATA #REQUIRED>
   <!ATTLIST EnvironmentalSound volume CDATA #REQUIRED>
   <!ATTLIST EnvironmentalSound flags CDATA #REQUIRED>
   <!ATTLIST EnvironmentalSound h_0x06 CDATA #REQUIRED>
   <!ATTLIST EnvironmentalSound h_0x08 CDATA #REQUIRED>
   <!ATTLIST EnvironmentalSound h_0x0a CDATA #REQUIRED>
   <!ATTLIST EnvironmentalSound h_0x0c CDATA #REQUIRED>
   <!ATTLIST EnvironmentalSound h_0x0e CDATA #REQUIRED>
   <!ATTLIST EnvironmentalSound x CDATA #REQUIRED>
   <!ATTLIST EnvironmentalSound y CDATA #REQUIRED>
   <!ATTLIST EnvironmentalSound z CDATA #REQUIRED>
   <!ATTLIST EnvironmentalSound radius CDATA #REQUIRED>

<!ELEMENT Unknown0xa9 EMPTY>
   <!ATTLIST Unknown0xa9 i_0x00 CDATA #REQUIRED>

<!ELEMENT MrTip EMPTY>
   <!ATTLIST MrTip x CDATA #REQUIRED>
   <!ATTLIST MrTip y CDATA #REQUIRED>
   <!ATTLIST MrTip z CDATA #REQUIRED>
   <!ATTLIST MrTip message_id CDATA #REQUIRED>

<!ELEMENT DiffuseLight EMPTY>
   <!ATTLIST DiffuseLight r CDATA #REQUIRED>
   <!ATTLIST DiffuseLight g CDATA #REQUIRED>
   <!ATTLIST DiffuseLight b CDATA #REQUIRED>
   <!ATTLIST DiffuseLight theta_x CDATA #REQUIRED>
   <!ATTLIST DiffuseLight theta_y CDATA #REQUIRED>

<!ELEMENT AmbientLight EMPTY>
   <!ATTLIST AmbientLight r CDATA #REQUIRED>
   <!ATTLIST AmbientLight g CDATA #REQUIRED>
   <!ATTLIST AmbientLight b CDATA #REQUIRED>

<!ELEMENT GloverSpawnPoint EMPTY>
   <!ATTLIST GloverSpawnPoint x CDATA #REQUIRED>
   <!ATTLIST GloverSpawnPoint y CDATA #REQUIRED>
   <!ATTLIST GloverSpawnPoint z CDATA #REQUIRED>

<!ELEMENT BallSpawnPoint EMPTY>
   <!ATTLIST BallSpawnPoint type CDATA #REQUIRED>
   <!ATTLIST BallSpawnPoint x CDATA #REQUIRED>
   <!ATTLIST BallSpawnPoint y CDATA #REQUIRED>
   <!ATTLIST BallSpawnPoint z CDATA #REQUIRED>

<!ELEMENT CameraSpawnPoint EMPTY>
   <!ATTLIST CameraSpawnPoint x CDATA #REQUIRED>
   <!ATTLIST CameraSpawnPoint y CDATA #REQUIRED>
   <!ATTLIST CameraSpawnPoint z CDATA #REQUIRED>
   <!ATTLIST CameraSpawnPoint pitch CDATA #REQUIRED>
   <!ATTLIST CameraSpawnPoint yaw CDATA #REQUIRED>

<!ELEMENT FogConfiguration EMPTY>
   <!ATTLIST FogConfiguration fog_enabled CDATA #REQUIRED>
   <!ATTLIST FogConfiguration r CDATA #REQUIRED>
   <!ATTLIST FogConfiguration g CDATA #REQUIRED>
   <!ATTLIST FogConfiguration b CDATA #REQUIRED>
   <!ATTLIST FogConfiguration fog_distance CDATA #REQUIRED>
   <!ATTLIST FogConfiguration near_clip CDATA #REQUIRED>

<!ELEMENT Actor0xbf EMPTY>
   <!ATTLIST Actor0xbf mode CDATA #REQUIRED>
   <!ATTLIST Actor0xbf child_mesh_id CDATA #REQUIRED>

<!ELEMENT AnimatedBackgroundActor (
   Actor0xbf | 
   SetActorRotation | 
   SetActorScale | 
   PlatActorEnableWaterAnimation | 
   PlatActorSurfaceType
)*>
   <!ATTLIST AnimatedBackgroundActor object_id CDATA #REQUIRED>
   <!ATTLIST AnimatedBackgroundActor name CDATA #REQUIRED>
   <!ATTLIST AnimatedBackgroundActor x CDATA #REQUIRED>
   <!ATTLIST AnimatedBackgroundActor y CDATA #REQUIRED>
   <!ATTLIST AnimatedBackgroundActor z CDATA #REQUIRED>

<!ELEMENT BackgroundActor (
   Actor0xbf | 
   SetActorRotation | 
   SetActorScale | 
   PlatActorEnableWaterAnimation | 
   PlatActorSurfaceType
)*>
   <!ATTLIST BackgroundActor object_id CDATA #REQUIRED>
   <!ATTLIST BackgroundActor name CDATA #REQUIRED>
   <!ATTLIST BackgroundActor x CDATA #REQUIRED>
   <!ATTLIST BackgroundActor y CDATA #REQUIRED>
   <!ATTLIST BackgroundActor z CDATA #REQUIRED>

<!ELEMENT LandActor (
   Actor0xbf | 
   SetActorRotation | 
   SetActorScale | 
   PlatActorEnableWaterAnimation | 
   SetObjectSparkle | 
   PlatSpecial0xb9 | 
   PlatActorSurfaceType
)*>
   <!ATTLIST LandActor object_id CDATA #REQUIRED>
   <!ATTLIST LandActor name CDATA #REQUIRED>
   <!ATTLIST LandActor x CDATA #REQUIRED>
   <!ATTLIST LandActor y CDATA #REQUIRED>
   <!ATTLIST LandActor z CDATA #REQUIRED>

<!ELEMENT SetActorRotation EMPTY>
   <!ATTLIST SetActorRotation x CDATA #REQUIRED>
   <!ATTLIST SetActorRotation y CDATA #REQUIRED>
   <!ATTLIST SetActorRotation z CDATA #REQUIRED>

<!ELEMENT SetActorScale EMPTY>
   <!ATTLIST SetActorScale x CDATA #REQUIRED>
   <!ATTLIST SetActorScale y CDATA #REQUIRED>
   <!ATTLIST SetActorScale z CDATA #REQUIRED>

<!ELEMENT Wind EMPTY>
   <!ATTLIST Wind left CDATA #REQUIRED>
   <!ATTLIST Wind top CDATA #REQUIRED>
   <!ATTLIST Wind front CDATA #REQUIRED>
   <!ATTLIST Wind width CDATA #REQUIRED>
   <!ATTLIST Wind height CDATA #REQUIRED>
   <!ATTLIST Wind depth CDATA #REQUIRED>
   <!ATTLIST Wind vel_x CDATA #REQUIRED>
   <!ATTLIST Wind vel_y CDATA #REQUIRED>
   <!ATTLIST Wind vel_z CDATA #REQUIRED>
   <!ATTLIST Wind turbulence CDATA #REQUIRED>
   <!ATTLIST Wind unknown_0x2c CDATA #REQUIRED>
   <!ATTLIST Wind active CDATA #REQUIRED>
   <!ATTLIST Wind tag CDATA #REQUIRED>

<!ELEMENT Water EMPTY>
   <!ATTLIST Water left CDATA #REQUIRED>
   <!ATTLIST Water top CDATA #REQUIRED>
   <!ATTLIST Water front CDATA #REQUIRED>
   <!ATTLIST Water width CDATA #REQUIRED>
   <!ATTLIST Water bottom CDATA #REQUIRED>
   <!ATTLIST Water depth CDATA #REQUIRED>
   <!ATTLIST Water surface_y CDATA #REQUIRED>
   <!ATTLIST Water current_x CDATA #REQUIRED>
   <!ATTLIST Water current_z CDATA #REQUIRED>
   <!ATTLIST Water unknown_1 CDATA #REQUIRED>
   <!ATTLIST Water object_id CDATA #REQUIRED>
   <!ATTLIST Water name CDATA #REQUIRED>
   <!ATTLIST Water x CDATA #REQUIRED>
   <!ATTLIST Water y CDATA #REQUIRED>
   <!ATTLIST Water z CDATA #REQUIRED>

<!ELEMENT Backdrop EMPTY>
   <!ATTLIST Backdrop texture_id CDATA #REQUIRED>
   <!ATTLIST Backdrop decal_pos_x CDATA #REQUIRED>
   <!ATTLIST Backdrop decal_pos_y CDATA #REQUIRED>
   <!ATTLIST Backdrop sort_key CDATA #REQUIRED>
   <!ATTLIST Backdrop offset_y CDATA #REQUIRED>
   <!ATTLIST Backdrop scale_x CDATA #REQUIRED>
   <!ATTLIST Backdrop scale_y CDATA #REQUIRED>
   <!ATTLIST Backdrop flip_x CDATA #REQUIRED>
   <!ATTLIST Backdrop flip_y CDATA #REQUIRED>
   <!ATTLIST Backdrop scroll_speed_x CDATA #REQUIRED>
   <!ATTLIST Backdrop unused CDATA #REQUIRED>
   <!ATTLIST Backdrop decal_parent_idx CDATA #REQUIRED>

<!ELEMENT Cameo (
   CameoInst4 | 
   CameoInstDefault | 
   CameoInst2 | 
   CameoInst6 | 
   CameoInst3 | 
   CameoInst5 | 
   CameoInst1 | 
   CameoInst0
)*>

<!ELEMENT CameoInst0 EMPTY>
   <!ATTLIST CameoInst0 h_0x00 CDATA #REQUIRED>
   <!ATTLIST CameoInst0 h_0x02 CDATA #REQUIRED>
   <!ATTLIST CameoInst0 h_0x04 CDATA #REQUIRED>
   <!ATTLIST CameoInst0 i_0x06 CDATA #REQUIRED>
   <!ATTLIST CameoInst0 h_0x0a CDATA #REQUIRED>
   <!ATTLIST CameoInst0 h_0x0c CDATA #REQUIRED>

<!ELEMENT CameoInst1 EMPTY>
   <!ATTLIST CameoInst1 h_0x00 CDATA #REQUIRED>
   <!ATTLIST CameoInst1 i_0x02 CDATA #REQUIRED>
   <!ATTLIST CameoInst1 i_0x06 CDATA #REQUIRED>
   <!ATTLIST CameoInst1 i_0x0a CDATA #REQUIRED>
   <!ATTLIST CameoInst1 h_0x0e CDATA #REQUIRED>
   <!ATTLIST CameoInst1 h_0x10 CDATA #REQUIRED>

<!ELEMENT CameoInst2 EMPTY>
   <!ATTLIST CameoInst2 h_0x00 CDATA #REQUIRED>
   <!ATTLIST CameoInst2 i_0x02 CDATA #REQUIRED>
   <!ATTLIST CameoInst2 i_0x06 CDATA #REQUIRED>
   <!ATTLIST CameoInst2 i_0x0a CDATA #REQUIRED>
   <!ATTLIST CameoInst2 i_0x0e CDATA #REQUIRED>
   <!ATTLIST CameoInst2 h_0x12 CDATA #REQUIRED>
   <!ATTLIST CameoInst2 h_0x14 CDATA #REQUIRED>

<!ELEMENT CameoInst3 EMPTY>
   <!ATTLIST CameoInst3 h_0x00 CDATA #REQUIRED>
   <!ATTLIST CameoInst3 i_0x02 CDATA #REQUIRED>
   <!ATTLIST CameoInst3 h_0x06 CDATA #REQUIRED>
   <!ATTLIST CameoInst3 h_0x08 CDATA #REQUIRED>

<!ELEMENT CameoInst4 EMPTY>
   <!ATTLIST CameoInst4 h_0x00 CDATA #REQUIRED>
   <!ATTLIST CameoInst4 h_0x02 CDATA #REQUIRED>
   <!ATTLIST CameoInst4 h_0x04 CDATA #REQUIRED>
   <!ATTLIST CameoInst4 h_0x06 CDATA #REQUIRED>
   <!ATTLIST CameoInst4 h_0x08 CDATA #REQUIRED>

<!ELEMENT CameoInst5 EMPTY>
   <!ATTLIST CameoInst5 h_0x00 CDATA #REQUIRED>
   <!ATTLIST CameoInst5 h_0x02 CDATA #REQUIRED>
   <!ATTLIST CameoInst5 h_0x04 CDATA #REQUIRED>

<!ELEMENT CameoInst6 EMPTY>
   <!ATTLIST CameoInst6 h_0x00 CDATA #REQUIRED>
   <!ATTLIST CameoInst6 h_0x02 CDATA #REQUIRED>
   <!ATTLIST CameoInst6 h_0x04 CDATA #REQUIRED>
   <!ATTLIST CameoInst6 h_0x06 CDATA #REQUIRED>

<!ELEMENT CameoInstDefault EMPTY>
   <!ATTLIST CameoInstDefault h_0x00 CDATA #REQUIRED>
   <!ATTLIST CameoInstDefault h_0x02 CDATA #REQUIRED>

<!ELEMENT Puzzle (
   PuzzleAnd | 
   PuzzleOr | 
   PuzzleNumtimes | 
   PuzzleAny | 
   PuzzleCondB | 
   PuzzleCondA | 
   PuzzleCondD | 
   PuzzleCondE | 
   PuzzleCondC | 
   PuzzleAction0x4a | 
   PuzzleAction0x4f | 
   PuzzleAction0x56 | 
   PuzzleAction0x55 | 
   PuzzleAction0x350x3b0x3c0x3d0x3e0x3f0x40 | 
   PuzzleAction0x4b0x4c | 
   PuzzleActionDefault | 
   PuzzleAction0x54 | 
   PuzzleAction0x460x470x48 | 
   PuzzleAction0x490x4d
)*>

<!ELEMENT PuzzleAnd EMPTY>

<!ELEMENT PuzzleOr EMPTY>

<!ELEMENT PuzzleNumtimes EMPTY>
   <!ATTLIST PuzzleNumtimes n CDATA #REQUIRED>

<!ELEMENT PuzzleAny EMPTY>
   <!ATTLIST PuzzleAny op CDATA #REQUIRED>

<!ELEMENT PuzzleCondA EMPTY>
   <!ATTLIST PuzzleCondA u32_0x24 CDATA #REQUIRED>
   <!ATTLIST PuzzleCondA u16_0x0a CDATA #REQUIRED>

<!ELEMENT PuzzleCondB EMPTY>
   <!ATTLIST PuzzleCondB i_0x00 CDATA #REQUIRED>
   <!ATTLIST PuzzleCondB i_0x04 CDATA #REQUIRED>
   <!ATTLIST PuzzleCondB i_0x08 CDATA #REQUIRED>
   <!ATTLIST PuzzleCondB i_0x0c CDATA #REQUIRED>
   <!ATTLIST PuzzleCondB i_0x10 CDATA #REQUIRED>
   <!ATTLIST PuzzleCondB i_0x14 CDATA #REQUIRED>
   <!ATTLIST PuzzleCondB i_0x18 CDATA #REQUIRED>

<!ELEMENT PuzzleCondC EMPTY>
   <!ATTLIST PuzzleCondC i_0x00 CDATA #REQUIRED>
   <!ATTLIST PuzzleCondC i_0x04 CDATA #REQUIRED>
   <!ATTLIST PuzzleCondC i_0x08 CDATA #REQUIRED>
   <!ATTLIST PuzzleCondC i_0x0c CDATA #REQUIRED>
   <!ATTLIST PuzzleCondC i_0x10 CDATA #REQUIRED>
   <!ATTLIST PuzzleCondC i_0x14 CDATA #REQUIRED>

<!ELEMENT PuzzleCondD EMPTY>
   <!ATTLIST PuzzleCondD i_0x00 CDATA #REQUIRED>
   <!ATTLIST PuzzleCondD i_0x04 CDATA #REQUIRED>
   <!ATTLIST PuzzleCondD i_0x08 CDATA #REQUIRED>
   <!ATTLIST PuzzleCondD i_0x0c CDATA #REQUIRED>

<!ELEMENT PuzzleCondE EMPTY>
   <!ATTLIST PuzzleCondE i_0x00 CDATA #REQUIRED>
   <!ATTLIST PuzzleCondE i_0x04 CDATA #REQUIRED>
   <!ATTLIST PuzzleCondE i_0x08 CDATA #REQUIRED>
   <!ATTLIST PuzzleCondE i_0x0c CDATA #REQUIRED>
   <!ATTLIST PuzzleCondE i_0x10 CDATA #REQUIRED>

<!ELEMENT PuzzleAction0x4f EMPTY>
   <!ATTLIST PuzzleAction0x4f u32_0x14 CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x4f u32_0x18 CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x4f u32_0x10 CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x4f u16_0x0e CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x4f u16_0x0a CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x4f u32_0x20 CDATA #REQUIRED>

<!ELEMENT PuzzleAction0x350x3b0x3c0x3d0x3e0x3f0x40 EMPTY>
   <!ATTLIST PuzzleAction0x350x3b0x3c0x3d0x3e0x3f0x40 u32_0x14 CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x350x3b0x3c0x3d0x3e0x3f0x40 u32_0x18 CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x350x3b0x3c0x3d0x3e0x3f0x40 u32_0x1c CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x350x3b0x3c0x3d0x3e0x3f0x40 u32_0x10 CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x350x3b0x3c0x3d0x3e0x3f0x40 u16_0x0e CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x350x3b0x3c0x3d0x3e0x3f0x40 u16_0x0a CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x350x3b0x3c0x3d0x3e0x3f0x40 u32_0x20 CDATA #REQUIRED>

<!ELEMENT PuzzleActionDefault EMPTY>
   <!ATTLIST PuzzleActionDefault u32_0x10 CDATA #REQUIRED>
   <!ATTLIST PuzzleActionDefault u16_0x0e CDATA #REQUIRED>
   <!ATTLIST PuzzleActionDefault u16_0x0a CDATA #REQUIRED>
   <!ATTLIST PuzzleActionDefault u32_0x20 CDATA #REQUIRED>

<!ELEMENT PuzzleAction0x460x470x48 EMPTY>
   <!ATTLIST PuzzleAction0x460x470x48 u32_0x24 CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x460x470x48 u16_0x0a CDATA #REQUIRED>

<!ELEMENT PuzzleAction0x490x4d EMPTY>
   <!ATTLIST PuzzleAction0x490x4d u32_0x24 CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x490x4d u32_0x28 CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x490x4d u32_0x2c CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x490x4d u16_0x0a CDATA #REQUIRED>

<!ELEMENT PuzzleAction0x4a EMPTY>
   <!ATTLIST PuzzleAction0x4a u32_0x24 CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x4a u32_0x24_0x0c CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x4a u16_0x0a CDATA #REQUIRED>

<!ELEMENT PuzzleAction0x54 EMPTY>
   <!ATTLIST PuzzleAction0x54 u32_0x14 CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x54 u32_0x16 CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x54 u32_0x18 CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x54 u32_0x1a CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x54 u32_0x1c CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x54 u32_0x1e CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x54 u32_0x10 CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x54 u16_0x0e CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x54 u32_0x24 CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x54 u32_0x28 CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x54 u32_0x2c CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x54 u16_0x0a CDATA #REQUIRED>

<!ELEMENT PuzzleAction0x55 EMPTY>
   <!ATTLIST PuzzleAction0x55 u32_0x24 CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x55 u16_0x0a CDATA #REQUIRED>

<!ELEMENT PuzzleAction0x56 EMPTY>
   <!ATTLIST PuzzleAction0x56 u32_0x14 CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x56 u32_0x18 CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x56 u16_0x1c CDATA #REQUIRED>
   <!ATTLIST PuzzleAction0x56 u16_0x0a CDATA #REQUIRED>

<!ELEMENT PuzzleAction0x4b0x4c EMPTY>
   <!ATTLIST PuzzleAction0x4b0x4c u16_0x0a CDATA #REQUIRED>

<!ELEMENT GaribGroup (
   Garib
)*>
   <!ATTLIST GaribGroup group_id CDATA #REQUIRED>
   <!ATTLIST GaribGroup initial_state CDATA #REQUIRED>

<!ELEMENT Garib EMPTY>
   <!ATTLIST Garib x CDATA #REQUIRED>
   <!ATTLIST Garib y CDATA #REQUIRED>
   <!ATTLIST Garib z CDATA #REQUIRED>
   <!ATTLIST Garib type CDATA #REQUIRED>
   <!ATTLIST Garib dynamic_shadow CDATA #REQUIRED>

<!ELEMENT Powerup EMPTY>
   <!ATTLIST Powerup type CDATA #REQUIRED>
   <!ATTLIST Powerup u16_0x02 CDATA #REQUIRED>
   <!ATTLIST Powerup u16_0x04 CDATA #REQUIRED>
   <!ATTLIST Powerup x CDATA #REQUIRED>
   <!ATTLIST Powerup y CDATA #REQUIRED>
   <!ATTLIST Powerup z CDATA #REQUIRED>

<!ELEMENT PlatMvspn0x58 EMPTY>
   <!ATTLIST PlatMvspn0x58 u16_0x14 CDATA #REQUIRED>
   <!ATTLIST PlatMvspn0x58 u32_0x10 CDATA #REQUIRED>

<!ELEMENT PlatMvspn0x59 EMPTY>
   <!ATTLIST PlatMvspn0x59 u16_0x24 CDATA #REQUIRED>
   <!ATTLIST PlatMvspn0x59 u32_0x20 CDATA #REQUIRED>
   <!ATTLIST PlatMvspn0x59 u32_0x28 CDATA #REQUIRED>
   <!ATTLIST PlatMvspn0x59 u32_0x2c CDATA #REQUIRED>
   <!ATTLIST PlatMvspn0x59 u32_0x30 CDATA #REQUIRED>

<!ELEMENT PlatMvspn0x5a EMPTY>
   <!ATTLIST PlatMvspn0x5a u16_0x1c CDATA #REQUIRED>
   <!ATTLIST PlatMvspn0x5a u32_0x18 CDATA #REQUIRED>

<!ELEMENT PlatSetParent EMPTY>
   <!ATTLIST PlatSetParent tag CDATA #REQUIRED>

<!ELEMENT PlatMvspn0x73 EMPTY>
   <!ATTLIST PlatMvspn0x73 u16_0x0c CDATA #REQUIRED>
   <!ATTLIST PlatMvspn0x73 u32_0x34 CDATA #REQUIRED>
   <!ATTLIST PlatMvspn0x73 u32_0x38 CDATA #REQUIRED>
   <!ATTLIST PlatMvspn0x73 u32_0x3c CDATA #REQUIRED>

<!ELEMENT PlatMvspn0x74 EMPTY>
   <!ATTLIST PlatMvspn0x74 u32_0x34 CDATA #REQUIRED>
   <!ATTLIST PlatMvspn0x74 u32_0x38 CDATA #REQUIRED>
   <!ATTLIST PlatMvspn0x74 u32_0x3c CDATA #REQUIRED>

<!ELEMENT PlatCopySpinFromParent EMPTY>

<!ELEMENT PlatSpecial0xb8 EMPTY>

<!ELEMENT PlatActorEnableWaterAnimation EMPTY>

<!ELEMENT SetGlobal0xb7 EMPTY>
   <!ATTLIST SetGlobal0xb7 value CDATA #REQUIRED>

<!ELEMENT Buzzer (
   BuzzerDutyCycle
)*>
   <!ATTLIST Buzzer tag CDATA #REQUIRED>
   <!ATTLIST Buzzer platform_1_tag CDATA #REQUIRED>
   <!ATTLIST Buzzer platform_2_tag CDATA #REQUIRED>
   <!ATTLIST Buzzer draw_flags CDATA #REQUIRED>
   <!ATTLIST Buzzer r CDATA #REQUIRED>
   <!ATTLIST Buzzer g CDATA #REQUIRED>
   <!ATTLIST Buzzer b CDATA #REQUIRED>
   <!ATTLIST Buzzer color_jitter CDATA #REQUIRED>
   <!ATTLIST Buzzer end_1_x CDATA #REQUIRED>
   <!ATTLIST Buzzer end_1_y CDATA #REQUIRED>
   <!ATTLIST Buzzer end_1_z CDATA #REQUIRED>
   <!ATTLIST Buzzer end_2_x CDATA #REQUIRED>
   <!ATTLIST Buzzer end_2_y CDATA #REQUIRED>
   <!ATTLIST Buzzer end_2_z CDATA #REQUIRED>
   <!ATTLIST Buzzer draw_diameter CDATA #REQUIRED>
   <!ATTLIST Buzzer draw_thickness CDATA #REQUIRED>

<!ELEMENT BuzzerDutyCycle EMPTY>
   <!ATTLIST BuzzerDutyCycle frames_off CDATA #REQUIRED>
   <!ATTLIST BuzzerDutyCycle frames_on CDATA #REQUIRED>

<!ELEMENT SetObjectSparkle EMPTY>
   <!ATTLIST SetObjectSparkle period CDATA #REQUIRED>

<!ELEMENT PlatSpecial0xb9 EMPTY>

<!ELEMENT SetExit EMPTY>
   <!ATTLIST SetExit type CDATA #REQUIRED>
   <!ATTLIST SetExit plat_flags CDATA #REQUIRED>

<!ELEMENT PlatCat0x69 EMPTY>
   <!ATTLIST PlatCat0x69 u16_0x20 CDATA #REQUIRED>
   <!ATTLIST PlatCat0x69 u32_0x00 CDATA #REQUIRED>
   <!ATTLIST PlatCat0x69 u32_0x04 CDATA #REQUIRED>
   <!ATTLIST PlatCat0x69 u32_0x08 CDATA #REQUIRED>
   <!ATTLIST PlatCat0x69 u32_0x0c CDATA #REQUIRED>
   <!ATTLIST PlatCat0x69 u32_0x10 CDATA #REQUIRED>
   <!ATTLIST PlatCat0x69 u32_0x1c CDATA #REQUIRED>

<!ELEMENT PlatformConveyor EMPTY>
   <!ATTLIST PlatformConveyor vel_x CDATA #REQUIRED>
   <!ATTLIST PlatformConveyor vel_y CDATA #REQUIRED>
   <!ATTLIST PlatformConveyor vel_z CDATA #REQUIRED>

<!ELEMENT PlatSpecial0x9e EMPTY>
   <!ATTLIST PlatSpecial0x9e u32_0x5c CDATA #REQUIRED>
   <!ATTLIST PlatSpecial0x9e u32_0x60 CDATA #REQUIRED>
   <!ATTLIST PlatSpecial0x9e u32_0x65 CDATA #REQUIRED>
   <!ATTLIST PlatSpecial0x9e u32_0x68 CDATA #REQUIRED>

<!ELEMENT SetTeleport EMPTY>
   <!ATTLIST SetTeleport target_tag CDATA #REQUIRED>
   <!ATTLIST SetTeleport u16_0x0c CDATA #REQUIRED>
   <!ATTLIST SetTeleport u16_0x10 CDATA #REQUIRED>
   <!ATTLIST SetTeleport u16_0x12 CDATA #REQUIRED>
   <!ATTLIST SetTeleport u32_0x00 CDATA #REQUIRED>
   <!ATTLIST SetTeleport u32_0x04 CDATA #REQUIRED>
   <!ATTLIST SetTeleport u32_0x08 CDATA #REQUIRED>

<!ELEMENT PlatFan0x8a EMPTY>
   <!ATTLIST PlatFan0x8a u16_0x0c CDATA #REQUIRED>
   <!ATTLIST PlatFan0x8a u32_0x48 CDATA #REQUIRED>
   <!ATTLIST PlatFan0x8a u32_0x4c CDATA #REQUIRED>
   <!ATTLIST PlatFan0x8a u32_0x50 CDATA #REQUIRED>
   <!ATTLIST PlatFan0x8a u32_0x10 CDATA #REQUIRED>
   <!ATTLIST PlatFan0x8a u32_0x14 CDATA #REQUIRED>
   <!ATTLIST PlatFan0x8a u32_0x18 CDATA #REQUIRED>
   <!ATTLIST PlatFan0x8a u32_0x1c CDATA #REQUIRED>

<!ELEMENT PlatMagnet0x8b EMPTY>
   <!ATTLIST PlatMagnet0x8b u16_0x0c CDATA #REQUIRED>
   <!ATTLIST PlatMagnet0x8b u32_0x48 CDATA #REQUIRED>
   <!ATTLIST PlatMagnet0x8b u32_0x4c CDATA #REQUIRED>
   <!ATTLIST PlatMagnet0x8b u32_0x50 CDATA #REQUIRED>
   <!ATTLIST PlatMagnet0x8b u32_0x10 CDATA #REQUIRED>
   <!ATTLIST PlatMagnet0x8b u32_0x14 CDATA #REQUIRED>
   <!ATTLIST PlatMagnet0x8b u32_0x18 CDATA #REQUIRED>
   <!ATTLIST PlatMagnet0x8b u32_0x1c CDATA #REQUIRED>

<!ELEMENT PlatCheckpoint EMPTY>
   <!ATTLIST PlatCheckpoint u16_0x17 CDATA #REQUIRED>
   <!ATTLIST PlatCheckpoint theta CDATA #REQUIRED>

<!ELEMENT PlatCrumb0x67 EMPTY>
   <!ATTLIST PlatCrumb0x67 u16_0x02 CDATA #REQUIRED>
   <!ATTLIST PlatCrumb0x67 u16_0x04 CDATA #REQUIRED>
   <!ATTLIST PlatCrumb0x67 u16_0x08 CDATA #REQUIRED>

<!ELEMENT PlatSpecial0xc7 EMPTY>
   <!ATTLIST PlatSpecial0xc7 u16_0x2a CDATA #REQUIRED>
   <!ATTLIST PlatSpecial0xc7 u16_0x1c_and_0x24 CDATA #REQUIRED>
   <!ATTLIST PlatSpecial0xc7 u16_0x28 CDATA #REQUIRED>

<!ELEMENT PlatSpecial0x6e EMPTY>
   <!ATTLIST PlatSpecial0x6e flags CDATA #REQUIRED>
   <!ATTLIST PlatSpecial0x6e u32_0x70 CDATA #REQUIRED>

<!ELEMENT PlatSpecial0x8e EMPTY>
   <!ATTLIST PlatSpecial0x8e enable CDATA #REQUIRED>

<!ELEMENT PlatPush0x5b EMPTY>
   <!ATTLIST PlatPush0x5b flags CDATA #REQUIRED>
   <!ATTLIST PlatPush0x5b u32_0x04 CDATA #REQUIRED>
   <!ATTLIST PlatPush0x5b actor_f_0x70 CDATA #REQUIRED>
   <!ATTLIST PlatPush0x5b u32_0x1c CDATA #REQUIRED>

<!ELEMENT PlatConf0x72 EMPTY>
   <!ATTLIST PlatConf0x72 u32_0x00 CDATA #REQUIRED>
   <!ATTLIST PlatConf0x72 u32_0x04 CDATA #REQUIRED>
   <!ATTLIST PlatConf0x72 u32_0x08 CDATA #REQUIRED>
   <!ATTLIST PlatConf0x72 u32_0x0c CDATA #REQUIRED>
   <!ATTLIST PlatConf0x72 u32_0x10 CDATA #REQUIRED>
   <!ATTLIST PlatConf0x72 u32_0x14 CDATA #REQUIRED>

<!ELEMENT PlatOrbitSound0xc4 EMPTY>
   <!ATTLIST PlatOrbitSound0xc4 u16_0x3a CDATA #REQUIRED>
   <!ATTLIST PlatOrbitSound0xc4 u16_0x2c_and_0x34 CDATA #REQUIRED>
   <!ATTLIST PlatOrbitSound0xc4 u16_0x38 CDATA #REQUIRED>

<!ELEMENT Plat0xc6 EMPTY>
   <!ATTLIST Plat0xc6 u16_0x4a CDATA #REQUIRED>
   <!ATTLIST Plat0xc6 u16_0x44 CDATA #REQUIRED>
   <!ATTLIST Plat0xc6 u16_0x48 CDATA #REQUIRED>

<!ELEMENT PlatOrbitAroundPoint EMPTY>
   <!ATTLIST PlatOrbitAroundPoint axis CDATA #REQUIRED>
   <!ATTLIST PlatOrbitAroundPoint x CDATA #REQUIRED>
   <!ATTLIST PlatOrbitAroundPoint y CDATA #REQUIRED>
   <!ATTLIST PlatOrbitAroundPoint z CDATA #REQUIRED>
   <!ATTLIST PlatOrbitAroundPoint speed CDATA #REQUIRED>

<!ELEMENT PlatOrbitPause EMPTY>
   <!ATTLIST PlatOrbitPause num_frames CDATA #REQUIRED>
   <!ATTLIST PlatOrbitPause num_pauses CDATA #REQUIRED>

<!ELEMENT PlatOrbitFlip0x77 EMPTY>
   <!ATTLIST PlatOrbitFlip0x77 u16_0x08 CDATA #REQUIRED>
   <!ATTLIST PlatOrbitFlip0x77 u16_0x10 CDATA #REQUIRED>

<!ELEMENT Plat0xc3 EMPTY>
   <!ATTLIST Plat0xc3 u16_0x86 CDATA #REQUIRED>
   <!ATTLIST Plat0xc3 u32_0x78_0x80 CDATA #REQUIRED>
   <!ATTLIST Plat0xc3 u16_0x84 CDATA #REQUIRED>

<!ELEMENT PlatSpinSound0xc5 EMPTY>
   <!ATTLIST PlatSpinSound0xc5 sound_id CDATA #REQUIRED>
   <!ATTLIST PlatSpinSound0xc5 volume CDATA #REQUIRED>
   <!ATTLIST PlatSpinSound0xc5 pitch CDATA #REQUIRED>

<!ELEMENT Plat0x9f EMPTY>
   <!ATTLIST Plat0x9f u32_0x6c CDATA #REQUIRED>
   <!ATTLIST Plat0x9f u32_0x70 CDATA #REQUIRED>
   <!ATTLIST Plat0x9f u32_0x1c CDATA #REQUIRED>
   <!ATTLIST Plat0x9f u32_0x28 CDATA #REQUIRED>

<!ELEMENT PlatSpinPause0x7c EMPTY>
   <!ATTLIST PlatSpinPause0x7c u16_0x0c CDATA #REQUIRED>
   <!ATTLIST PlatSpinPause0x7c u16_0x0a CDATA #REQUIRED>

<!ELEMENT PlatSpinFlip EMPTY>
   <!ATTLIST PlatSpinFlip cooldown_timer CDATA #REQUIRED>
   <!ATTLIST PlatSpinFlip theta CDATA #REQUIRED>

<!ELEMENT Plat0x7e EMPTY>
   <!ATTLIST Plat0x7e u32_0x28 CDATA #REQUIRED>

<!ELEMENT PlatConstantSpin EMPTY>
   <!ATTLIST PlatConstantSpin axis CDATA #REQUIRED>
   <!ATTLIST PlatConstantSpin initial_theta CDATA #REQUIRED>
   <!ATTLIST PlatConstantSpin speed CDATA #REQUIRED>

<!ELEMENT PlatSpin0x80 EMPTY>
   <!ATTLIST PlatSpin0x80 idx CDATA #REQUIRED>
   <!ATTLIST PlatSpin0x80 f_0x1c CDATA #REQUIRED>
   <!ATTLIST PlatSpin0x80 u32_0x28 CDATA #REQUIRED>
   <!ATTLIST PlatSpin0x80 u32_ustack56 CDATA #REQUIRED>
   <!ATTLIST PlatSpin0x80 u32_0x2c CDATA #REQUIRED>
   <!ATTLIST PlatSpin0x80 f_0x6c CDATA #REQUIRED>
   <!ATTLIST PlatSpin0x80 f_0x70 CDATA #REQUIRED>

<!ELEMENT PlatTopple0x81 EMPTY>
   <!ATTLIST PlatTopple0x81 idx CDATA #REQUIRED>
   <!ATTLIST PlatTopple0x81 f_0x1c CDATA #REQUIRED>
   <!ATTLIST PlatTopple0x81 f_0x28 CDATA #REQUIRED>
   <!ATTLIST PlatTopple0x81 f_0x24 CDATA #REQUIRED>
   <!ATTLIST PlatTopple0x81 f_0x2c CDATA #REQUIRED>
   <!ATTLIST PlatTopple0x81 f_0x6c CDATA #REQUIRED>
   <!ATTLIST PlatTopple0x81 f_0x70_pivot_height CDATA #REQUIRED>
   <!ATTLIST PlatTopple0x81 u16_0x10 CDATA #REQUIRED>

<!ELEMENT LookAtHand0x60 EMPTY>
   <!ATTLIST LookAtHand0x60 u32_0x6c CDATA #REQUIRED>
   <!ATTLIST LookAtHand0x60 u32_0x1c CDATA #REQUIRED>

<!ELEMENT LookAtBall0x61 EMPTY>
   <!ATTLIST LookAtBall0x61 u32_0x6c CDATA #REQUIRED>
   <!ATTLIST LookAtBall0x61 u32_0x1c CDATA #REQUIRED>

<!ELEMENT PlatRocking EMPTY>
   <!ATTLIST PlatRocking axis CDATA #REQUIRED>
   <!ATTLIST PlatRocking theta CDATA #REQUIRED>
   <!ATTLIST PlatRocking deceleration CDATA #REQUIRED>
   <!ATTLIST PlatRocking blur_height CDATA #REQUIRED>
   <!ATTLIST PlatRocking frame_advance CDATA #REQUIRED>

<!ELEMENT Plat0x78 EMPTY>
   <!ATTLIST Plat0x78 u16_0x08 CDATA #REQUIRED>

<!ELEMENT PlatSound0xc1 EMPTY>
   <!ATTLIST PlatSound0xc1 sound_id CDATA #REQUIRED>
   <!ATTLIST PlatSound0xc1 volume CDATA #REQUIRED>
   <!ATTLIST PlatSound0xc1 pitch CDATA #REQUIRED>

<!ELEMENT PlatSound0xc2 EMPTY>
   <!ATTLIST PlatSound0xc2 sound_id CDATA #REQUIRED>
   <!ATTLIST PlatSound0xc2 volume CDATA #REQUIRED>
   <!ATTLIST PlatSound0xc2 pitch CDATA #REQUIRED>

<!ELEMENT PlatTurnTowardsPathPoint EMPTY>
   <!ATTLIST PlatTurnTowardsPathPoint input_1 CDATA #REQUIRED>
   <!ATTLIST PlatTurnTowardsPathPoint input_2 CDATA #REQUIRED>

<!ELEMENT PlatGoForwards0x5f EMPTY>
   <!ATTLIST PlatGoForwards0x5f u32_0x2c_0x6c CDATA #REQUIRED>
   <!ATTLIST PlatGoForwards0x5f u32_0x2c_0x1c CDATA #REQUIRED>
   <!ATTLIST PlatGoForwards0x5f u32_0xf0 CDATA #REQUIRED>
   <!ATTLIST PlatGoForwards0x5f u32_0x2c_0x34 CDATA #REQUIRED>

<!ELEMENT PlatPathPoint EMPTY>
   <!ATTLIST PlatPathPoint duration CDATA #REQUIRED>
   <!ATTLIST PlatPathPoint x CDATA #REQUIRED>
   <!ATTLIST PlatPathPoint y CDATA #REQUIRED>
   <!ATTLIST PlatPathPoint z CDATA #REQUIRED>

<!ELEMENT PlatMaxVelocity EMPTY>
   <!ATTLIST PlatMaxVelocity velocity CDATA #REQUIRED>

<!ELEMENT PlatPathAcceleration EMPTY>
   <!ATTLIST PlatPathAcceleration acceleration CDATA #REQUIRED>

<!ELEMENT PlatPos0xa7 EMPTY>
   <!ATTLIST PlatPos0xa7 u8_idx CDATA #REQUIRED>

<!ELEMENT PlatSetInitialPos EMPTY>
   <!ATTLIST PlatSetInitialPos x CDATA #REQUIRED>
   <!ATTLIST PlatSetInitialPos y CDATA #REQUIRED>
   <!ATTLIST PlatSetInitialPos z CDATA #REQUIRED>

<!ELEMENT PlatPlayObjectAnimation EMPTY>

<!ELEMENT Plat0xa4 EMPTY>

<!ELEMENT PlatVentAdvanceFrames EMPTY>
   <!ATTLIST PlatVentAdvanceFrames num_frames CDATA #REQUIRED>

<!ELEMENT PlatNoClip EMPTY>

<!ELEMENT PlatDestructible EMPTY>
   <!ATTLIST PlatDestructible flags CDATA #REQUIRED>
   <!ATTLIST PlatDestructible num_fragments CDATA #REQUIRED>
   <!ATTLIST PlatDestructible fragment_object_id CDATA #REQUIRED>
   <!ATTLIST PlatDestructible name CDATA #REQUIRED>

<!ELEMENT PlatDestructibleSound EMPTY>
   <!ATTLIST PlatDestructibleSound sound_id CDATA #REQUIRED>
   <!ATTLIST PlatDestructibleSound volume CDATA #REQUIRED>
   <!ATTLIST PlatDestructibleSound pitch CDATA #REQUIRED>

<!ELEMENT Plat0x9d EMPTY>

<!ELEMENT Plat0x66 EMPTY>

<!ELEMENT PlatActorSurfaceType EMPTY>
   <!ATTLIST PlatActorSurfaceType value CDATA #REQUIRED>

<!ELEMENT PlatSetTag EMPTY>
   <!ATTLIST PlatSetTag tag CDATA #REQUIRED>

<!ELEMENT PlatSpike EMPTY>

<!ELEMENT PlatScale EMPTY>
   <!ATTLIST PlatScale x CDATA #REQUIRED>
   <!ATTLIST PlatScale y CDATA #REQUIRED>
   <!ATTLIST PlatScale z CDATA #REQUIRED>

<!ELEMENT PlatStr0x7a EMPTY>
   <!ATTLIST PlatStr0x7a u32_0x0c CDATA #REQUIRED>
   <!ATTLIST PlatStr0x7a u32_0x10 CDATA #REQUIRED>
   <!ATTLIST PlatStr0x7a u32_0x14 CDATA #REQUIRED>
   <!ATTLIST PlatStr0x7a u16_0x18 CDATA #REQUIRED>
   <!ATTLIST PlatStr0x7a u16_0x1c CDATA #REQUIRED>

<!ELEMENT Rope EMPTY>
   <!ATTLIST Rope num_components CDATA #REQUIRED>
   <!ATTLIST Rope wiggle_axis CDATA #REQUIRED>
   <!ATTLIST Rope component_obj_id CDATA #REQUIRED>
   <!ATTLIST Rope name CDATA #REQUIRED>
   <!ATTLIST Rope puzzle_unknown_1 CDATA #REQUIRED>
   <!ATTLIST Rope sway_unknown_1 CDATA #REQUIRED>
   <!ATTLIST Rope sway_unknown_2 CDATA #REQUIRED>
   <!ATTLIST Rope sway_unknown_3 CDATA #REQUIRED>
   <!ATTLIST Rope sway_rocking_theta CDATA #REQUIRED>
   <!ATTLIST Rope sway_unknown_4 CDATA #REQUIRED>
   <!ATTLIST Rope sway_unknown_5 CDATA #REQUIRED>
   <!ATTLIST Rope x CDATA #REQUIRED>
   <!ATTLIST Rope y CDATA #REQUIRED>
   <!ATTLIST Rope z CDATA #REQUIRED>
   <!ATTLIST Rope component_w CDATA #REQUIRED>
   <!ATTLIST Rope component_h CDATA #REQUIRED>
   <!ATTLIST Rope component_d CDATA #REQUIRED>

<!ELEMENT PlatSine EMPTY>
   <!ATTLIST PlatSine u32_count CDATA #REQUIRED>
   <!ATTLIST PlatSine u32_116 CDATA #REQUIRED>
   <!ATTLIST PlatSine name CDATA #REQUIRED>
   <!ATTLIST PlatSine f_108 CDATA #REQUIRED>
   <!ATTLIST PlatSine f_104 CDATA #REQUIRED>
   <!ATTLIST PlatSine f_100 CDATA #REQUIRED>
   <!ATTLIST PlatSine f_96 CDATA #REQUIRED>
   <!ATTLIST PlatSine f_92 CDATA #REQUIRED>
   <!ATTLIST PlatSine f_88 CDATA #REQUIRED>
   <!ATTLIST PlatSine f_84 CDATA #REQUIRED>
   <!ATTLIST PlatSine f_80 CDATA #REQUIRED>
   <!ATTLIST PlatSine u32_176 CDATA #REQUIRED>
   <!ATTLIST PlatSine u32_172 CDATA #REQUIRED>

<!ELEMENT PlatOrbit EMPTY>
   <!ATTLIST PlatOrbit u16_120 CDATA #REQUIRED>
   <!ATTLIST PlatOrbit u16_136 CDATA #REQUIRED>
   <!ATTLIST PlatOrbit u16_134 CDATA #REQUIRED>
   <!ATTLIST PlatOrbit u16_132 CDATA #REQUIRED>
   <!ATTLIST PlatOrbit u32_116 CDATA #REQUIRED>
   <!ATTLIST PlatOrbit name CDATA #REQUIRED>
   <!ATTLIST PlatOrbit f_112 CDATA #REQUIRED>
   <!ATTLIST PlatOrbit f_108 CDATA #REQUIRED>
   <!ATTLIST PlatOrbit f_104 CDATA #REQUIRED>
   <!ATTLIST PlatOrbit f_100 CDATA #REQUIRED>
   <!ATTLIST PlatOrbit f_96 CDATA #REQUIRED>
   <!ATTLIST PlatOrbit f_92 CDATA #REQUIRED>
   <!ATTLIST PlatOrbit f_88 CDATA #REQUIRED>
   <!ATTLIST PlatOrbit f_84 CDATA #REQUIRED>
   <!ATTLIST PlatOrbit f_80 CDATA #REQUIRED>
   <!ATTLIST PlatOrbit u32_176 CDATA #REQUIRED>

<!ELEMENT Vent (
   PlatVentAdvanceFrames | 
   VentDutyCycle
)*>
   <!ATTLIST Vent type CDATA #REQUIRED>
   <!ATTLIST Vent u16_0x0a CDATA #REQUIRED>
   <!ATTLIST Vent parent_tag CDATA #REQUIRED>
   <!ATTLIST Vent origin_x CDATA #REQUIRED>
   <!ATTLIST Vent origin_y CDATA #REQUIRED>
   <!ATTLIST Vent origin_z CDATA #REQUIRED>
   <!ATTLIST Vent particle_velocity_x CDATA #REQUIRED>
   <!ATTLIST Vent particle_velocity_y CDATA #REQUIRED>
   <!ATTLIST Vent particle_velocity_z CDATA #REQUIRED>

<!ELEMENT VentDutyCycle EMPTY>
   <!ATTLIST VentDutyCycle frames_off CDATA #REQUIRED>
   <!ATTLIST VentDutyCycle frames_on CDATA #REQUIRED>

<!ELEMENT Platform (
   PlatMvspn0x58 | 
   PlatMvspn0x59 | 
   PlatMvspn0x5a | 
   PlatSetParent | 
   PlatMvspn0x73 | 
   PlatMvspn0x74 | 
   PlatCopySpinFromParent | 
   PlatSpecial0xb8 | 
   PlatActorEnableWaterAnimation | 
   SetObjectSparkle | 
   PlatSpecial0xb9 | 
   SetExit | 
   PlatCat0x69 | 
   PlatformConveyor | 
   PlatSpecial0x9e | 
   SetTeleport | 
   PlatFan0x8a | 
   PlatMagnet0x8b | 
   PlatCheckpoint | 
   PlatCrumb0x67 | 
   PlatSpecial0xc7 | 
   PlatSpecial0x6e | 
   PlatSpecial0x8e | 
   PlatPush0x5b | 
   PlatConf0x72 | 
   PlatOrbitSound0xc4 | 
   Plat0xc6 | 
   PlatOrbitAroundPoint | 
   PlatOrbitPause | 
   PlatOrbitFlip0x77 | 
   Plat0xc3 | 
   PlatSpinSound0xc5 | 
   Plat0x9f | 
   PlatSpinPause0x7c | 
   PlatSpinFlip | 
   Plat0x7e | 
   PlatConstantSpin | 
   PlatSpin0x80 | 
   PlatTopple0x81 | 
   LookAtHand0x60 | 
   LookAtBall0x61 | 
   PlatRocking | 
   Plat0x78 | 
   PlatSound0xc1 | 
   PlatSound0xc2 | 
   PlatTurnTowardsPathPoint | 
   PlatGoForwards0x5f | 
   PlatPathPoint | 
   PlatMaxVelocity | 
   PlatPathAcceleration | 
   PlatPos0xa7 | 
   PlatSetInitialPos | 
   PlatPlayObjectAnimation | 
   Plat0xa4 | 
   PlatVentAdvanceFrames | 
   PlatNoClip | 
   PlatDestructible | 
   PlatDestructibleSound | 
   Plat0x9d | 
   Plat0x66 | 
   PlatActorSurfaceType | 
   PlatSetTag | 
   PlatSpike | 
   PlatScale
)*>
   <!ATTLIST Platform object_id CDATA #REQUIRED>
   <!ATTLIST Platform name CDATA #REQUIRED>

<!ELEMENT NullPlatform (
   PlatMvspn0x58 | 
   PlatMvspn0x59 | 
   PlatMvspn0x5a | 
   PlatSetParent | 
   PlatMvspn0x73 | 
   PlatMvspn0x74 | 
   PlatCopySpinFromParent | 
   PlatSpecial0xb8 | 
   PlatActorEnableWaterAnimation | 
   SetObjectSparkle | 
   PlatSpecial0xb9 | 
   SetExit | 
   PlatCat0x69 | 
   PlatformConveyor | 
   PlatSpecial0x9e | 
   SetTeleport | 
   PlatFan0x8a | 
   PlatMagnet0x8b | 
   PlatCheckpoint | 
   PlatCrumb0x67 | 
   PlatSpecial0xc7 | 
   PlatSpecial0x6e | 
   PlatSpecial0x8e | 
   PlatPush0x5b | 
   PlatConf0x72 | 
   PlatOrbitSound0xc4 | 
   Plat0xc6 | 
   PlatOrbitAroundPoint | 
   PlatOrbitPause | 
   PlatOrbitFlip0x77 | 
   Plat0xc3 | 
   PlatSpinSound0xc5 | 
   Plat0x9f | 
   PlatSpinPause0x7c | 
   PlatSpinFlip | 
   Plat0x7e | 
   PlatConstantSpin | 
   PlatSpin0x80 | 
   PlatTopple0x81 | 
   LookAtHand0x60 | 
   LookAtBall0x61 | 
   PlatRocking | 
   Plat0x78 | 
   PlatSound0xc1 | 
   PlatSound0xc2 | 
   PlatTurnTowardsPathPoint | 
   PlatGoForwards0x5f | 
   PlatPathPoint | 
   PlatMaxVelocity | 
   PlatPathAcceleration | 
   PlatPos0xa7 | 
   PlatSetInitialPos | 
   PlatPlayObjectAnimation | 
   Plat0xa4 | 
   PlatVentAdvanceFrames | 
   PlatNoClip | 
   PlatDestructible | 
   PlatDestructibleSound | 
   Plat0x9d | 
   Plat0x66 | 
   PlatActorSurfaceType | 
   PlatSetTag | 
   PlatSpike | 
   PlatScale
)*>

<!ELEMENT Enemy (
   EnemySetAttentionBbox | 
   Enemy0xba | 
   EnemyNormalInstruction | 
   EnemyConditionalInstruction | 
   EnemyAttackInstruction
)*>
   <!ATTLIST Enemy type CDATA #REQUIRED>
   <!ATTLIST Enemy u1 CDATA #REQUIRED>
   <!ATTLIST Enemy x CDATA #REQUIRED>
   <!ATTLIST Enemy y CDATA #REQUIRED>
   <!ATTLIST Enemy z CDATA #REQUIRED>
   <!ATTLIST Enemy y_rotation CDATA #REQUIRED>

<!ELEMENT EnemySetAttentionBbox EMPTY>
   <!ATTLIST EnemySetAttentionBbox left CDATA #REQUIRED>
   <!ATTLIST EnemySetAttentionBbox top CDATA #REQUIRED>
   <!ATTLIST EnemySetAttentionBbox front CDATA #REQUIRED>
   <!ATTLIST EnemySetAttentionBbox width CDATA #REQUIRED>
   <!ATTLIST EnemySetAttentionBbox height CDATA #REQUIRED>
   <!ATTLIST EnemySetAttentionBbox depth CDATA #REQUIRED>

<!ELEMENT Enemy0xba EMPTY>

<!ELEMENT EnemyFinalize EMPTY>

<!ELEMENT EnemyNormalInstruction EMPTY>
   <!ATTLIST EnemyNormalInstruction instr CDATA #REQUIRED>

<!ELEMENT EnemyConditionalInstruction EMPTY>
   <!ATTLIST EnemyConditionalInstruction instr CDATA #REQUIRED>

<!ELEMENT EnemyAttackInstruction EMPTY>
   <!ATTLIST EnemyAttackInstruction instr CDATA #REQUIRED>

<!ELEMENT EnemyInstructionA EMPTY>
   <!ATTLIST EnemyInstructionA u32_0x02 CDATA #REQUIRED>
   <!ATTLIST EnemyInstructionA u32_0x06 CDATA #REQUIRED>
   <!ATTLIST EnemyInstructionA u32_0x0a CDATA #REQUIRED>
   <!ATTLIST EnemyInstructionA u32_0x0e CDATA #REQUIRED>

<!ELEMENT EnemyInstructionDash EMPTY>
   <!ATTLIST EnemyInstructionDash destination_x CDATA #REQUIRED>
   <!ATTLIST EnemyInstructionDash destination_y CDATA #REQUIRED>
   <!ATTLIST EnemyInstructionDash destination_z CDATA #REQUIRED>
   <!ATTLIST EnemyInstructionDash vel_magnitude CDATA #REQUIRED>

<!ELEMENT EnemyInstructionMove EMPTY>
   <!ATTLIST EnemyInstructionMove destination_x CDATA #REQUIRED>
   <!ATTLIST EnemyInstructionMove destination_y CDATA #REQUIRED>
   <!ATTLIST EnemyInstructionMove destination_z CDATA #REQUIRED>
   <!ATTLIST EnemyInstructionMove vel_magnitude CDATA #REQUIRED>

<!ELEMENT EnemyInstructionTurn EMPTY>
   <!ATTLIST EnemyInstructionTurn lookat_x CDATA #REQUIRED>
   <!ATTLIST EnemyInstructionTurn lookat_y CDATA #REQUIRED>
   <!ATTLIST EnemyInstructionTurn lookat_z CDATA #REQUIRED>
   <!ATTLIST EnemyInstructionTurn choose_random_direction CDATA #REQUIRED>

<!ELEMENT EnemyInstructionGoto EMPTY>
   <!ATTLIST EnemyInstructionGoto instr_idx CDATA #REQUIRED>
   <!ATTLIST EnemyInstructionGoto unused CDATA #REQUIRED>

<!ELEMENT EnemyInstructionRandomWalk EMPTY>
   <!ATTLIST EnemyInstructionRandomWalk home_x CDATA #REQUIRED>
   <!ATTLIST EnemyInstructionRandomWalk home_y CDATA #REQUIRED>
   <!ATTLIST EnemyInstructionRandomWalk home_z CDATA #REQUIRED>
   <!ATTLIST EnemyInstructionRandomWalk extent_x CDATA #REQUIRED>
   <!ATTLIST EnemyInstructionRandomWalk extent_y CDATA #REQUIRED>
   <!ATTLIST EnemyInstructionRandomWalk extent_z CDATA #REQUIRED>
   <!ATTLIST EnemyInstructionRandomWalk min_travel_distance CDATA #REQUIRED>

<!ELEMENT EnemyInstructionPlayAnimation EMPTY>
   <!ATTLIST EnemyInstructionPlayAnimation anim_idx_1 CDATA #REQUIRED>
   <!ATTLIST EnemyInstructionPlayAnimation anim_idx_2 CDATA #REQUIRED>

<!ELEMENT EnemyInstructionRest EMPTY>
   <!ATTLIST EnemyInstructionRest flags CDATA #REQUIRED>
   <!ATTLIST EnemyInstructionRest anim_start_playing CDATA #REQUIRED>

<!ELEMENT EnemyInstructionAttack EMPTY>
   <!ATTLIST EnemyInstructionAttack unused_1 CDATA #REQUIRED>
   <!ATTLIST EnemyInstructionAttack unused_2 CDATA #REQUIRED>

<!ELEMENT EnemyInstructionC EMPTY>
   <!ATTLIST EnemyInstructionC u32_0x02 CDATA #REQUIRED>
   <!ATTLIST EnemyInstructionC u32_0x0e CDATA #REQUIRED>

<!ELEMENT EnemyInstructionError EMPTY>

<!ELEMENT EndLevelData EMPTY>

<!ELEMENT Noop EMPTY>

<!ELEMENT Unknown EMPTY>
   <!ATTLIST Unknown body CDATA #REQUIRED>

