formats/glover.lev.rng

<!--
   WARNING!!
   THIS FILE IS AUTOGENERATED FROM formats/glover.lev.ksy
   DIRECT EDITS TO IT WILL LIKELY BE LOST
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="Level" xmlns="http://relaxng.org/ns/structure/1.0">
      <attribute name="name">
        <text/>
      </attribute>
      <attribute name="libgarib-version">
        <text/>
      </attribute>
      <attribute name="data-format-version">
        <text/>
      </attribute>
      <interleave>
        <zeroOrMore>
          <ref name="UnknownSound0xbd"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="EnvironmentalSound"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="SetGravity"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="MrTip"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="DiffuseLight"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="AmbientLight"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="GloverSpawnPoint"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="BallSpawnPoint"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="CameraSpawnPoint"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="FogConfiguration"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Actor0xbf"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="AnimatedBackgroundActor"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="BackgroundActor"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="LandActor"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="SetActorRotation"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="SetActorScale"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Wind"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Water"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Backdrop"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Cameo"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="CameoInst"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Puzzle"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PuzzleAnd"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PuzzleOr"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PuzzleNumtimes"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PuzzleAny"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PuzzleCond"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PuzzleAction"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="GaribGroup"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Garib"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Powerup"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatMvspn0x58"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatMvspn0x59"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatMvspn0x5a"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSetParent"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatMvspn0x73"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatMvspn0x74"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatCopySpinFromParent"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpecial0xb8"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatActorEnableWaterAnimation"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="SetGlobal0xb7"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Buzzer"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="BuzzerDutyCycle"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="SetObjectSparkle"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpecial0xb9"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="SetExit"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatCat0x69"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatformConveyor"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpecial0x9e"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="SetTeleport"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatFan0x8a"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatMagnet0x8b"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatCheckpoint"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatCrumb0x67"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpecial0xc7"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpecial0x6e"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpecial0x8e"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatPush0x5b"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatConf0x72"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatOrbitSound0xc4"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Plat0xc6"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatOrbitAroundPoint"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatOrbitPause"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatOrbitFlip0x77"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Plat0xc3"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpinSound0xc5"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Plat0x9f"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpinPause0x7c"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpinFlip"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Plat0x7e"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatConstantSpin"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpin0x80"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatTopple0x81"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="LookAtHand0x60"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="LookAtBall0x61"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatRocking"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Plat0x78"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSound0xc1"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSound0xc2"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatTurnTowardsPathPoint"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatGoForwards0x5f"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatPathPoint"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatMaxVelocity"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatPathAcceleration"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatPos0xa7"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSetInitialPos"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatPlayObjectAnimation"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Plat0xa4"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatVentAdvanceFrames"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatNoClip"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatDestructible"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatDestructibleSound"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Plat0x9d"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Plat0x66"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatActorSurfaceType"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSetTag"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpike"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatScale"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatStr0x7a"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Rope"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSine"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatOrbit"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Vent"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="VentDutyCycle"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Platform"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="NullPlatform"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Enemy"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="EnemySetAttentionBbox"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Enemy0xba"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="EnemyFinalize"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="NormalInstructions"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="ConditionalInstructions"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="AttackInstructions"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="EndLevelData"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Noop"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Unknown"/>
        </zeroOrMore>
      </interleave>
    </element>
  </start>
  <define name="UnknownSound0xbd">
    <element name="UnknownSound0xbd">
      <attribute name="h_0x00">
        <text/>
      </attribute>
      <attribute name="h_0x02">
        <text/>
      </attribute>
      <attribute name="h_0x04">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="EnvironmentalSound">
    <element name="EnvironmentalSound">
      <attribute name="sound_id">
        <text/>
      </attribute>
      <attribute name="volume">
        <text/>
      </attribute>
      <attribute name="flags">
        <text/>
      </attribute>
      <attribute name="h_0x06">
        <text/>
      </attribute>
      <attribute name="h_0x08">
        <text/>
      </attribute>
      <attribute name="h_0x0a">
        <text/>
      </attribute>
      <attribute name="h_0x0c">
        <text/>
      </attribute>
      <attribute name="h_0x0e">
        <text/>
      </attribute>
      <attribute name="x">
        <text/>
      </attribute>
      <attribute name="y">
        <text/>
      </attribute>
      <attribute name="z">
        <text/>
      </attribute>
      <attribute name="radius">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="SetGravity">
    <element name="SetGravity">
      <attribute name="strength">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="MrTip">
    <element name="MrTip">
      <attribute name="x">
        <text/>
      </attribute>
      <attribute name="y">
        <text/>
      </attribute>
      <attribute name="z">
        <text/>
      </attribute>
      <attribute name="message_id">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="DiffuseLight">
    <element name="DiffuseLight">
      <attribute name="r">
        <text/>
      </attribute>
      <attribute name="g">
        <text/>
      </attribute>
      <attribute name="b">
        <text/>
      </attribute>
      <attribute name="theta_x">
        <text/>
      </attribute>
      <attribute name="theta_y">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="AmbientLight">
    <element name="AmbientLight">
      <attribute name="r">
        <text/>
      </attribute>
      <attribute name="g">
        <text/>
      </attribute>
      <attribute name="b">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="GloverSpawnPoint">
    <element name="GloverSpawnPoint">
      <attribute name="x">
        <text/>
      </attribute>
      <attribute name="y">
        <text/>
      </attribute>
      <attribute name="z">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="BallSpawnPoint">
    <element name="BallSpawnPoint">
      <attribute name="type">
        <text/>
      </attribute>
      <attribute name="x">
        <text/>
      </attribute>
      <attribute name="y">
        <text/>
      </attribute>
      <attribute name="z">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="CameraSpawnPoint">
    <element name="CameraSpawnPoint">
      <attribute name="x">
        <text/>
      </attribute>
      <attribute name="y">
        <text/>
      </attribute>
      <attribute name="z">
        <text/>
      </attribute>
      <attribute name="pitch">
        <text/>
      </attribute>
      <attribute name="yaw">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="FogConfiguration">
    <element name="FogConfiguration">
      <attribute name="fog_enabled">
        <text/>
      </attribute>
      <attribute name="r">
        <text/>
      </attribute>
      <attribute name="g">
        <text/>
      </attribute>
      <attribute name="b">
        <text/>
      </attribute>
      <attribute name="fog_distance">
        <text/>
      </attribute>
      <attribute name="near_clip">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="Actor0xbf">
    <element name="Actor0xbf">
      <attribute name="mode">
        <text/>
      </attribute>
      <attribute name="child_mesh_id">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="AnimatedBackgroundActor">
    <element name="AnimatedBackgroundActor">
      <attribute name="object_id">
        <text/>
      </attribute>
      <attribute name="name">
        <text/>
      </attribute>
      <attribute name="x">
        <text/>
      </attribute>
      <attribute name="y">
        <text/>
      </attribute>
      <attribute name="z">
        <text/>
      </attribute>
      <interleave>
        <zeroOrMore>
          <ref name="Actor0xbf"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="SetActorRotation"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="SetActorScale"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatActorEnableWaterAnimation"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatActorSurfaceType"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="BackgroundActor">
    <element name="BackgroundActor">
      <attribute name="object_id">
        <text/>
      </attribute>
      <attribute name="name">
        <text/>
      </attribute>
      <attribute name="x">
        <text/>
      </attribute>
      <attribute name="y">
        <text/>
      </attribute>
      <attribute name="z">
        <text/>
      </attribute>
      <interleave>
        <zeroOrMore>
          <ref name="Actor0xbf"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="SetActorRotation"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="SetActorScale"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatActorEnableWaterAnimation"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatActorSurfaceType"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="LandActor">
    <element name="LandActor">
      <attribute name="object_id">
        <text/>
      </attribute>
      <attribute name="name">
        <text/>
      </attribute>
      <attribute name="x">
        <text/>
      </attribute>
      <attribute name="y">
        <text/>
      </attribute>
      <attribute name="z">
        <text/>
      </attribute>
      <interleave>
        <zeroOrMore>
          <ref name="Actor0xbf"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="SetActorRotation"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="SetActorScale"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatActorEnableWaterAnimation"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="SetObjectSparkle"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpecial0xb9"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatActorSurfaceType"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="SetActorRotation">
    <element name="SetActorRotation">
      <attribute name="x">
        <text/>
      </attribute>
      <attribute name="y">
        <text/>
      </attribute>
      <attribute name="z">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="SetActorScale">
    <element name="SetActorScale">
      <attribute name="x">
        <text/>
      </attribute>
      <attribute name="y">
        <text/>
      </attribute>
      <attribute name="z">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="Wind">
    <element name="Wind">
      <attribute name="left">
        <text/>
      </attribute>
      <attribute name="top">
        <text/>
      </attribute>
      <attribute name="front">
        <text/>
      </attribute>
      <attribute name="width">
        <text/>
      </attribute>
      <attribute name="height">
        <text/>
      </attribute>
      <attribute name="depth">
        <text/>
      </attribute>
      <attribute name="vel_x">
        <text/>
      </attribute>
      <attribute name="vel_y">
        <text/>
      </attribute>
      <attribute name="vel_z">
        <text/>
      </attribute>
      <attribute name="turbulence">
        <text/>
      </attribute>
      <attribute name="unknown_0x2c">
        <text/>
      </attribute>
      <attribute name="active">
        <text/>
      </attribute>
      <attribute name="tag">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="Water">
    <element name="Water">
      <attribute name="left">
        <text/>
      </attribute>
      <attribute name="top">
        <text/>
      </attribute>
      <attribute name="front">
        <text/>
      </attribute>
      <attribute name="width">
        <text/>
      </attribute>
      <attribute name="bottom">
        <text/>
      </attribute>
      <attribute name="depth">
        <text/>
      </attribute>
      <attribute name="surface_y">
        <text/>
      </attribute>
      <attribute name="current_x">
        <text/>
      </attribute>
      <attribute name="current_z">
        <text/>
      </attribute>
      <attribute name="puzzle_tag">
        <text/>
      </attribute>
      <attribute name="object_id">
        <text/>
      </attribute>
      <attribute name="name">
        <text/>
      </attribute>
      <attribute name="x">
        <text/>
      </attribute>
      <attribute name="y">
        <text/>
      </attribute>
      <attribute name="z">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="Backdrop">
    <element name="Backdrop">
      <attribute name="texture_id">
        <text/>
      </attribute>
      <attribute name="decal_pos_x">
        <text/>
      </attribute>
      <attribute name="decal_pos_y">
        <text/>
      </attribute>
      <attribute name="sort_key">
        <text/>
      </attribute>
      <attribute name="offset_y">
        <text/>
      </attribute>
      <attribute name="scale_x">
        <text/>
      </attribute>
      <attribute name="scale_y">
        <text/>
      </attribute>
      <attribute name="flip_x">
        <text/>
      </attribute>
      <attribute name="flip_y">
        <text/>
      </attribute>
      <attribute name="scroll_speed_x">
        <text/>
      </attribute>
      <attribute name="unused">
        <text/>
      </attribute>
      <attribute name="decal_parent_idx">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="Cameo">
    <element name="Cameo">
      <interleave>
        <zeroOrMore>
          <ref name="CameoInst"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="CameoInst">
    <element name="CameoInst">
      <choice>
        <group>
          <!--Case 0x0-->
          <attribute name="inst_type">
            <data type="string">
              <param name="pattern">0|0x0*0</param>
            </data>
          </attribute>
          <ref name="CameoInst0"/>
        </group>
        <group>
          <!--Case 0x1-->
          <attribute name="inst_type">
            <data type="string">
              <param name="pattern">1|0x0*1</param>
            </data>
          </attribute>
          <ref name="CameoInst1"/>
        </group>
        <group>
          <!--Case 0x2-->
          <attribute name="inst_type">
            <data type="string">
              <param name="pattern">2|0x0*2</param>
            </data>
          </attribute>
          <ref name="CameoInst2"/>
        </group>
        <group>
          <!--Case 0x3-->
          <attribute name="inst_type">
            <data type="string">
              <param name="pattern">3|0x0*3</param>
            </data>
          </attribute>
          <ref name="CameoInst3"/>
        </group>
        <group>
          <!--Case 0x4-->
          <attribute name="inst_type">
            <data type="string">
              <param name="pattern">4|0x0*4</param>
            </data>
          </attribute>
          <ref name="CameoInst4"/>
        </group>
        <group>
          <!--Case 0x5-->
          <attribute name="inst_type">
            <data type="string">
              <param name="pattern">5|0x0*5</param>
            </data>
          </attribute>
          <ref name="CameoInst5"/>
        </group>
        <group>
          <!--Case 0x6-->
          <attribute name="inst_type">
            <data type="string">
              <param name="pattern">6|0x0*6</param>
            </data>
          </attribute>
          <ref name="CameoInst6"/>
        </group>
        <group>
          <!--Default case (only for types not listed above!)-->
          <attribute name="inst_type">
            <text/>
          </attribute>
          <ref name="CameoInstDefault"/>
        </group>
      </choice>
    </element>
  </define>
  <define name="CameoInst0">
    <element name="CameoInst0">
      <attribute name="h_0x00">
        <text/>
      </attribute>
      <attribute name="h_0x02">
        <text/>
      </attribute>
      <attribute name="h_0x04">
        <text/>
      </attribute>
      <attribute name="i_0x06">
        <text/>
      </attribute>
      <attribute name="h_0x0a">
        <text/>
      </attribute>
      <attribute name="h_0x0c">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="CameoInst1">
    <element name="CameoInst1">
      <attribute name="h_0x00">
        <text/>
      </attribute>
      <attribute name="i_0x02">
        <text/>
      </attribute>
      <attribute name="i_0x06">
        <text/>
      </attribute>
      <attribute name="i_0x0a">
        <text/>
      </attribute>
      <attribute name="h_0x0e">
        <text/>
      </attribute>
      <attribute name="h_0x10">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="CameoInst2">
    <element name="CameoInst2">
      <attribute name="h_0x00">
        <text/>
      </attribute>
      <attribute name="i_0x02">
        <text/>
      </attribute>
      <attribute name="i_0x06">
        <text/>
      </attribute>
      <attribute name="i_0x0a">
        <text/>
      </attribute>
      <attribute name="i_0x0e">
        <text/>
      </attribute>
      <attribute name="h_0x12">
        <text/>
      </attribute>
      <attribute name="h_0x14">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="CameoInst3">
    <element name="CameoInst3">
      <attribute name="h_0x00">
        <text/>
      </attribute>
      <attribute name="i_0x02">
        <text/>
      </attribute>
      <attribute name="h_0x06">
        <text/>
      </attribute>
      <attribute name="h_0x08">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="CameoInst4">
    <element name="CameoInst4">
      <attribute name="h_0x00">
        <text/>
      </attribute>
      <attribute name="h_0x02">
        <text/>
      </attribute>
      <attribute name="h_0x04">
        <text/>
      </attribute>
      <attribute name="h_0x06">
        <text/>
      </attribute>
      <attribute name="h_0x08">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="CameoInst5">
    <element name="CameoInst5">
      <attribute name="h_0x00">
        <text/>
      </attribute>
      <attribute name="h_0x02">
        <text/>
      </attribute>
      <attribute name="h_0x04">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="CameoInst6">
    <element name="CameoInst6">
      <attribute name="h_0x00">
        <text/>
      </attribute>
      <attribute name="h_0x02">
        <text/>
      </attribute>
      <attribute name="h_0x04">
        <text/>
      </attribute>
      <attribute name="h_0x06">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="CameoInstDefault">
    <element name="CameoInstDefault">
      <attribute name="h_0x00">
        <text/>
      </attribute>
      <attribute name="h_0x02">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="Puzzle">
    <element name="Puzzle">
      <interleave>
        <zeroOrMore>
          <ref name="PuzzleAnd"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PuzzleOr"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PuzzleNumtimes"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PuzzleAny"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PuzzleCond"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PuzzleAction"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="PuzzleAnd">
    <element name="PuzzleAnd">
      <empty/>
    </element>
  </define>
  <define name="PuzzleOr">
    <element name="PuzzleOr">
      <empty/>
    </element>
  </define>
  <define name="PuzzleNumtimes">
    <element name="PuzzleNumtimes">
      <attribute name="n">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PuzzleAny">
    <element name="PuzzleAny">
      <attribute name="op">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PuzzleCond">
    <element name="PuzzleCond">
      <choice>
        <group>
          <!--Case 0x22-->
          <attribute name="cond_type">
            <data type="string">
              <param name="pattern">34|0x0*22</param>
            </data>
          </attribute>
          <ref name="PuzzleCondB"/>
        </group>
        <group>
          <!--Case 0x23-->
          <attribute name="cond_type">
            <data type="string">
              <param name="pattern">35|0x0*23</param>
            </data>
          </attribute>
          <ref name="PuzzleCondC"/>
        </group>
        <group>
          <!--Case 0x25-->
          <attribute name="cond_type">
            <data type="string">
              <param name="pattern">37|0x0*25</param>
            </data>
          </attribute>
          <ref name="PuzzleCondC"/>
        </group>
        <group>
          <!--Case 0x27-->
          <attribute name="cond_type">
            <data type="string">
              <param name="pattern">39|0x0*27</param>
            </data>
          </attribute>
          <ref name="PuzzleCondC"/>
        </group>
        <group>
          <!--Case 0x24-->
          <attribute name="cond_type">
            <data type="string">
              <param name="pattern">36|0x0*24</param>
            </data>
          </attribute>
          <ref name="PuzzleCondD"/>
        </group>
        <group>
          <!--Case 0x26-->
          <attribute name="cond_type">
            <data type="string">
              <param name="pattern">38|0x0*26</param>
            </data>
          </attribute>
          <ref name="PuzzleCondD"/>
        </group>
        <group>
          <!--Case 0x28-->
          <attribute name="cond_type">
            <data type="string">
              <param name="pattern">40|0x0*28</param>
            </data>
          </attribute>
          <ref name="PuzzleCondD"/>
        </group>
        <group>
          <!--Case 0x29-->
          <attribute name="cond_type">
            <data type="string">
              <param name="pattern">41|0x0*29</param>
            </data>
          </attribute>
          <ref name="PuzzleCondE"/>
        </group>
        <group>
          <!--Default case (only for types not listed above!)-->
          <attribute name="cond_type">
            <text/>
          </attribute>
          <ref name="PuzzleCondA"/>
        </group>
      </choice>
    </element>
  </define>
  <define name="PuzzleCondA">
    <element name="PuzzleCondA">
      <attribute name="u32_0x24">
        <text/>
      </attribute>
      <attribute name="u16_0x0a">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PuzzleCondB">
    <element name="PuzzleCondB">
      <attribute name="i_0x00">
        <text/>
      </attribute>
      <attribute name="i_0x04">
        <text/>
      </attribute>
      <attribute name="i_0x08">
        <text/>
      </attribute>
      <attribute name="i_0x0c">
        <text/>
      </attribute>
      <attribute name="i_0x10">
        <text/>
      </attribute>
      <attribute name="i_0x14">
        <text/>
      </attribute>
      <attribute name="i_0x18">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PuzzleCondC">
    <element name="PuzzleCondC">
      <attribute name="i_0x00">
        <text/>
      </attribute>
      <attribute name="i_0x04">
        <text/>
      </attribute>
      <attribute name="i_0x08">
        <text/>
      </attribute>
      <attribute name="i_0x0c">
        <text/>
      </attribute>
      <attribute name="i_0x10">
        <text/>
      </attribute>
      <attribute name="i_0x14">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PuzzleCondD">
    <element name="PuzzleCondD">
      <attribute name="i_0x00">
        <text/>
      </attribute>
      <attribute name="i_0x04">
        <text/>
      </attribute>
      <attribute name="i_0x08">
        <text/>
      </attribute>
      <attribute name="i_0x0c">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PuzzleCondE">
    <element name="PuzzleCondE">
      <attribute name="i_0x00">
        <text/>
      </attribute>
      <attribute name="i_0x04">
        <text/>
      </attribute>
      <attribute name="i_0x08">
        <text/>
      </attribute>
      <attribute name="i_0x0c">
        <text/>
      </attribute>
      <attribute name="i_0x10">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PuzzleAction">
    <element name="PuzzleAction">
      <choice>
        <group>
          <!--Case 0x35-->
          <attribute name="action_type">
            <data type="string">
              <param name="pattern">53|0x0*35</param>
            </data>
          </attribute>
          <ref name="PuzzleAction0x350x3b0x3c0x3d0x3e0x3f0x40"/>
        </group>
        <group>
          <!--Case 0x3B-->
          <attribute name="action_type">
            <data type="string">
              <param name="pattern">59|0x0*3[Bb]</param>
            </data>
          </attribute>
          <ref name="PuzzleAction0x350x3b0x3c0x3d0x3e0x3f0x40"/>
        </group>
        <group>
          <!--Case 0x3C-->
          <attribute name="action_type">
            <data type="string">
              <param name="pattern">60|0x0*3[Cc]</param>
            </data>
          </attribute>
          <ref name="PuzzleAction0x350x3b0x3c0x3d0x3e0x3f0x40"/>
        </group>
        <group>
          <!--Case 0x3D-->
          <attribute name="action_type">
            <data type="string">
              <param name="pattern">61|0x0*3[Dd]</param>
            </data>
          </attribute>
          <ref name="PuzzleAction0x350x3b0x3c0x3d0x3e0x3f0x40"/>
        </group>
        <group>
          <!--Case 0x3E-->
          <attribute name="action_type">
            <data type="string">
              <param name="pattern">62|0x0*3[Ee]</param>
            </data>
          </attribute>
          <ref name="PuzzleAction0x350x3b0x3c0x3d0x3e0x3f0x40"/>
        </group>
        <group>
          <!--Case 0x3F-->
          <attribute name="action_type">
            <data type="string">
              <param name="pattern">63|0x0*3[Ff]</param>
            </data>
          </attribute>
          <ref name="PuzzleAction0x350x3b0x3c0x3d0x3e0x3f0x40"/>
        </group>
        <group>
          <!--Case 0x40-->
          <attribute name="action_type">
            <data type="string">
              <param name="pattern">64|0x0*40</param>
            </data>
          </attribute>
          <ref name="PuzzleAction0x350x3b0x3c0x3d0x3e0x3f0x40"/>
        </group>
        <group>
          <!--Case 0x4F-->
          <attribute name="action_type">
            <data type="string">
              <param name="pattern">79|0x0*4[Ff]</param>
            </data>
          </attribute>
          <ref name="PuzzleAction0x4f"/>
        </group>
        <group>
          <!--Case 0x46-->
          <attribute name="action_type">
            <data type="string">
              <param name="pattern">70|0x0*46</param>
            </data>
          </attribute>
          <ref name="PuzzleAction0x460x470x48"/>
        </group>
        <group>
          <!--Case 0x47-->
          <attribute name="action_type">
            <data type="string">
              <param name="pattern">71|0x0*47</param>
            </data>
          </attribute>
          <ref name="PuzzleAction0x460x470x48"/>
        </group>
        <group>
          <!--Case 0x48-->
          <attribute name="action_type">
            <data type="string">
              <param name="pattern">72|0x0*48</param>
            </data>
          </attribute>
          <ref name="PuzzleAction0x460x470x48"/>
        </group>
        <group>
          <!--Case 0x49-->
          <attribute name="action_type">
            <data type="string">
              <param name="pattern">73|0x0*49</param>
            </data>
          </attribute>
          <ref name="PuzzleAction0x490x4d"/>
        </group>
        <group>
          <!--Case 0x4D-->
          <attribute name="action_type">
            <data type="string">
              <param name="pattern">77|0x0*4[Dd]</param>
            </data>
          </attribute>
          <ref name="PuzzleAction0x490x4d"/>
        </group>
        <group>
          <!--Case 0x4A-->
          <attribute name="action_type">
            <data type="string">
              <param name="pattern">74|0x0*4[Aa]</param>
            </data>
          </attribute>
          <ref name="PuzzleAction0x4a"/>
        </group>
        <group>
          <!--Case 0x4B-->
          <attribute name="action_type">
            <data type="string">
              <param name="pattern">75|0x0*4[Bb]</param>
            </data>
          </attribute>
          <ref name="PuzzleAction0x4b0x4c"/>
        </group>
        <group>
          <!--Case 0x4C-->
          <attribute name="action_type">
            <data type="string">
              <param name="pattern">76|0x0*4[Cc]</param>
            </data>
          </attribute>
          <ref name="PuzzleAction0x4b0x4c"/>
        </group>
        <group>
          <!--Case 0x54-->
          <attribute name="action_type">
            <data type="string">
              <param name="pattern">84|0x0*54</param>
            </data>
          </attribute>
          <ref name="PuzzleAction0x54"/>
        </group>
        <group>
          <!--Case 0x55-->
          <attribute name="action_type">
            <data type="string">
              <param name="pattern">85|0x0*55</param>
            </data>
          </attribute>
          <ref name="PuzzleAction0x55"/>
        </group>
        <group>
          <!--Case 0x56-->
          <attribute name="action_type">
            <data type="string">
              <param name="pattern">86|0x0*56</param>
            </data>
          </attribute>
          <ref name="PuzzleAction0x56"/>
        </group>
        <group>
          <!--Default case (only for types not listed above!)-->
          <attribute name="action_type">
            <text/>
          </attribute>
          <ref name="PuzzleActionDefault"/>
        </group>
      </choice>
    </element>
  </define>
  <define name="PuzzleAction0x4f">
    <element name="PuzzleAction0x4f">
      <attribute name="u32_0x14">
        <text/>
      </attribute>
      <attribute name="u32_0x18">
        <text/>
      </attribute>
      <attribute name="u32_0x10">
        <text/>
      </attribute>
      <attribute name="u16_0x0e">
        <text/>
      </attribute>
      <attribute name="u16_0x0a">
        <text/>
      </attribute>
      <attribute name="u32_0x20">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PuzzleAction0x350x3b0x3c0x3d0x3e0x3f0x40">
    <element name="PuzzleAction0x350x3b0x3c0x3d0x3e0x3f0x40">
      <attribute name="u32_0x14">
        <text/>
      </attribute>
      <attribute name="u32_0x18">
        <text/>
      </attribute>
      <attribute name="u32_0x1c">
        <text/>
      </attribute>
      <attribute name="u32_0x10">
        <text/>
      </attribute>
      <attribute name="u16_0x0e">
        <text/>
      </attribute>
      <attribute name="u16_0x0a">
        <text/>
      </attribute>
      <attribute name="u32_0x20">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PuzzleActionDefault">
    <element name="PuzzleActionDefault">
      <attribute name="u32_0x10">
        <text/>
      </attribute>
      <attribute name="u16_0x0e">
        <text/>
      </attribute>
      <attribute name="u16_0x0a">
        <text/>
      </attribute>
      <attribute name="u32_0x20">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PuzzleAction0x460x470x48">
    <element name="PuzzleAction0x460x470x48">
      <attribute name="u32_0x24">
        <text/>
      </attribute>
      <attribute name="u16_0x0a">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PuzzleAction0x490x4d">
    <element name="PuzzleAction0x490x4d">
      <attribute name="u32_0x24">
        <text/>
      </attribute>
      <attribute name="u32_0x28">
        <text/>
      </attribute>
      <attribute name="u32_0x2c">
        <text/>
      </attribute>
      <attribute name="u16_0x0a">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PuzzleAction0x4a">
    <element name="PuzzleAction0x4a">
      <attribute name="u32_0x24">
        <text/>
      </attribute>
      <attribute name="u32_0x24_0x0c">
        <text/>
      </attribute>
      <attribute name="u16_0x0a">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PuzzleAction0x54">
    <element name="PuzzleAction0x54">
      <attribute name="u32_0x14">
        <text/>
      </attribute>
      <attribute name="u32_0x16">
        <text/>
      </attribute>
      <attribute name="u32_0x18">
        <text/>
      </attribute>
      <attribute name="u32_0x1a">
        <text/>
      </attribute>
      <attribute name="u32_0x1c">
        <text/>
      </attribute>
      <attribute name="u32_0x1e">
        <text/>
      </attribute>
      <attribute name="u32_0x10">
        <text/>
      </attribute>
      <attribute name="u16_0x0e">
        <text/>
      </attribute>
      <attribute name="u32_0x24">
        <text/>
      </attribute>
      <attribute name="u32_0x28">
        <text/>
      </attribute>
      <attribute name="u32_0x2c">
        <text/>
      </attribute>
      <attribute name="u16_0x0a">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PuzzleAction0x55">
    <element name="PuzzleAction0x55">
      <attribute name="u32_0x24">
        <text/>
      </attribute>
      <attribute name="u16_0x0a">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PuzzleAction0x56">
    <element name="PuzzleAction0x56">
      <attribute name="u32_0x14">
        <text/>
      </attribute>
      <attribute name="u32_0x18">
        <text/>
      </attribute>
      <attribute name="u16_0x1c">
        <text/>
      </attribute>
      <attribute name="u16_0x0a">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PuzzleAction0x4b0x4c">
    <element name="PuzzleAction0x4b0x4c">
      <attribute name="u16_0x0a">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="GaribGroup">
    <element name="GaribGroup">
      <attribute name="group_id">
        <text/>
      </attribute>
      <attribute name="initial_state">
        <text/>
      </attribute>
      <interleave>
        <zeroOrMore>
          <ref name="Garib"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Garib">
    <element name="Garib">
      <attribute name="x">
        <text/>
      </attribute>
      <attribute name="y">
        <text/>
      </attribute>
      <attribute name="z">
        <text/>
      </attribute>
      <attribute name="type">
        <text/>
      </attribute>
      <attribute name="dynamic_shadow">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="Powerup">
    <element name="Powerup">
      <attribute name="type">
        <text/>
      </attribute>
      <attribute name="u16_0x02">
        <text/>
      </attribute>
      <attribute name="u16_0x04">
        <text/>
      </attribute>
      <attribute name="x">
        <text/>
      </attribute>
      <attribute name="y">
        <text/>
      </attribute>
      <attribute name="z">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatMvspn0x58">
    <element name="PlatMvspn0x58">
      <attribute name="u16_0x14">
        <text/>
      </attribute>
      <attribute name="u32_0x10">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatMvspn0x59">
    <element name="PlatMvspn0x59">
      <attribute name="u16_0x24">
        <text/>
      </attribute>
      <attribute name="u32_0x20">
        <text/>
      </attribute>
      <attribute name="u32_0x28">
        <text/>
      </attribute>
      <attribute name="u32_0x2c">
        <text/>
      </attribute>
      <attribute name="u32_0x30">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatMvspn0x5a">
    <element name="PlatMvspn0x5a">
      <attribute name="u16_0x1c">
        <text/>
      </attribute>
      <attribute name="u32_0x18">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatSetParent">
    <element name="PlatSetParent">
      <attribute name="tag">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatMvspn0x73">
    <element name="PlatMvspn0x73">
      <attribute name="u16_0x0c">
        <text/>
      </attribute>
      <attribute name="u32_0x34">
        <text/>
      </attribute>
      <attribute name="u32_0x38">
        <text/>
      </attribute>
      <attribute name="u32_0x3c">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatMvspn0x74">
    <element name="PlatMvspn0x74">
      <attribute name="u32_0x34">
        <text/>
      </attribute>
      <attribute name="u32_0x38">
        <text/>
      </attribute>
      <attribute name="u32_0x3c">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatCopySpinFromParent">
    <element name="PlatCopySpinFromParent">
      <empty/>
    </element>
  </define>
  <define name="PlatSpecial0xb8">
    <element name="PlatSpecial0xb8">
      <empty/>
    </element>
  </define>
  <define name="PlatActorEnableWaterAnimation">
    <element name="PlatActorEnableWaterAnimation">
      <empty/>
    </element>
  </define>
  <define name="SetGlobal0xb7">
    <element name="SetGlobal0xb7">
      <attribute name="value">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="Buzzer">
    <element name="Buzzer">
      <attribute name="tag">
        <text/>
      </attribute>
      <attribute name="platform_1_tag">
        <text/>
      </attribute>
      <attribute name="platform_2_tag">
        <text/>
      </attribute>
      <attribute name="draw_flags">
        <text/>
      </attribute>
      <attribute name="r">
        <text/>
      </attribute>
      <attribute name="g">
        <text/>
      </attribute>
      <attribute name="b">
        <text/>
      </attribute>
      <attribute name="color_jitter">
        <text/>
      </attribute>
      <attribute name="end_1_x">
        <text/>
      </attribute>
      <attribute name="end_1_y">
        <text/>
      </attribute>
      <attribute name="end_1_z">
        <text/>
      </attribute>
      <attribute name="end_2_x">
        <text/>
      </attribute>
      <attribute name="end_2_y">
        <text/>
      </attribute>
      <attribute name="end_2_z">
        <text/>
      </attribute>
      <attribute name="draw_diameter">
        <text/>
      </attribute>
      <attribute name="draw_thickness">
        <text/>
      </attribute>
      <interleave>
        <zeroOrMore>
          <ref name="BuzzerDutyCycle"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="BuzzerDutyCycle">
    <element name="BuzzerDutyCycle">
      <attribute name="frames_off">
        <text/>
      </attribute>
      <attribute name="frames_on">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="SetObjectSparkle">
    <element name="SetObjectSparkle">
      <attribute name="period">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatSpecial0xb9">
    <element name="PlatSpecial0xb9">
      <empty/>
    </element>
  </define>
  <define name="SetExit">
    <element name="SetExit">
      <attribute name="behavior">
        <text/>
      </attribute>
      <attribute name="type">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatCat0x69">
    <element name="PlatCat0x69">
      <attribute name="u16_0x20">
        <text/>
      </attribute>
      <attribute name="u32_0x00">
        <text/>
      </attribute>
      <attribute name="u32_0x04">
        <text/>
      </attribute>
      <attribute name="u32_0x08">
        <text/>
      </attribute>
      <attribute name="u32_0x0c">
        <text/>
      </attribute>
      <attribute name="u32_0x10">
        <text/>
      </attribute>
      <attribute name="u32_0x1c">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatformConveyor">
    <element name="PlatformConveyor">
      <attribute name="vel_x">
        <text/>
      </attribute>
      <attribute name="vel_y">
        <text/>
      </attribute>
      <attribute name="vel_z">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatSpecial0x9e">
    <element name="PlatSpecial0x9e">
      <attribute name="u32_0x5c">
        <text/>
      </attribute>
      <attribute name="u32_0x60">
        <text/>
      </attribute>
      <attribute name="u32_0x65">
        <text/>
      </attribute>
      <attribute name="u32_0x68">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="SetTeleport">
    <element name="SetTeleport">
      <attribute name="target_tag">
        <text/>
      </attribute>
      <attribute name="u16_0x0c">
        <text/>
      </attribute>
      <attribute name="u16_0x10">
        <text/>
      </attribute>
      <attribute name="u16_0x12">
        <text/>
      </attribute>
      <attribute name="u32_0x00">
        <text/>
      </attribute>
      <attribute name="u32_0x04">
        <text/>
      </attribute>
      <attribute name="u32_0x08">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatFan0x8a">
    <element name="PlatFan0x8a">
      <attribute name="u16_0x0c">
        <text/>
      </attribute>
      <attribute name="u32_0x48">
        <text/>
      </attribute>
      <attribute name="u32_0x4c">
        <text/>
      </attribute>
      <attribute name="u32_0x50">
        <text/>
      </attribute>
      <attribute name="u32_0x10">
        <text/>
      </attribute>
      <attribute name="u32_0x14">
        <text/>
      </attribute>
      <attribute name="u32_0x18">
        <text/>
      </attribute>
      <attribute name="u32_0x1c">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatMagnet0x8b">
    <element name="PlatMagnet0x8b">
      <attribute name="u16_0x0c">
        <text/>
      </attribute>
      <attribute name="u32_0x48">
        <text/>
      </attribute>
      <attribute name="u32_0x4c">
        <text/>
      </attribute>
      <attribute name="u32_0x50">
        <text/>
      </attribute>
      <attribute name="u32_0x10">
        <text/>
      </attribute>
      <attribute name="u32_0x14">
        <text/>
      </attribute>
      <attribute name="u32_0x18">
        <text/>
      </attribute>
      <attribute name="u32_0x1c">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatCheckpoint">
    <element name="PlatCheckpoint">
      <attribute name="u16_0x17">
        <text/>
      </attribute>
      <attribute name="theta">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatCrumb0x67">
    <element name="PlatCrumb0x67">
      <attribute name="u16_0x02">
        <text/>
      </attribute>
      <attribute name="u16_0x04">
        <text/>
      </attribute>
      <attribute name="u16_0x08">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatSpecial0xc7">
    <element name="PlatSpecial0xc7">
      <attribute name="u16_0x2a">
        <text/>
      </attribute>
      <attribute name="u16_0x1c_and_0x24">
        <text/>
      </attribute>
      <attribute name="u16_0x28">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatSpecial0x6e">
    <element name="PlatSpecial0x6e">
      <attribute name="flags">
        <text/>
      </attribute>
      <attribute name="u32_0x70">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatSpecial0x8e">
    <element name="PlatSpecial0x8e">
      <attribute name="enable">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatPush0x5b">
    <element name="PlatPush0x5b">
      <attribute name="flags">
        <text/>
      </attribute>
      <attribute name="u32_0x04">
        <text/>
      </attribute>
      <attribute name="actor_f_0x70">
        <text/>
      </attribute>
      <attribute name="u32_0x1c">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatConf0x72">
    <element name="PlatConf0x72">
      <attribute name="u32_0x00">
        <text/>
      </attribute>
      <attribute name="u32_0x04">
        <text/>
      </attribute>
      <attribute name="u32_0x08">
        <text/>
      </attribute>
      <attribute name="u32_0x0c">
        <text/>
      </attribute>
      <attribute name="u32_0x10">
        <text/>
      </attribute>
      <attribute name="u32_0x14">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatOrbitSound0xc4">
    <element name="PlatOrbitSound0xc4">
      <attribute name="u16_0x3a">
        <text/>
      </attribute>
      <attribute name="u16_0x2c_and_0x34">
        <text/>
      </attribute>
      <attribute name="u16_0x38">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="Plat0xc6">
    <element name="Plat0xc6">
      <attribute name="u16_0x4a">
        <text/>
      </attribute>
      <attribute name="u16_0x44">
        <text/>
      </attribute>
      <attribute name="u16_0x48">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatOrbitAroundPoint">
    <element name="PlatOrbitAroundPoint">
      <attribute name="axis">
        <text/>
      </attribute>
      <attribute name="x">
        <text/>
      </attribute>
      <attribute name="y">
        <text/>
      </attribute>
      <attribute name="z">
        <text/>
      </attribute>
      <attribute name="speed">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatOrbitPause">
    <element name="PlatOrbitPause">
      <attribute name="num_frames">
        <text/>
      </attribute>
      <attribute name="num_pauses">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatOrbitFlip0x77">
    <element name="PlatOrbitFlip0x77">
      <attribute name="u16_0x08">
        <text/>
      </attribute>
      <attribute name="u16_0x10">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="Plat0xc3">
    <element name="Plat0xc3">
      <attribute name="u16_0x86">
        <text/>
      </attribute>
      <attribute name="u32_0x78_0x80">
        <text/>
      </attribute>
      <attribute name="u16_0x84">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatSpinSound0xc5">
    <element name="PlatSpinSound0xc5">
      <attribute name="sound_id">
        <text/>
      </attribute>
      <attribute name="volume">
        <text/>
      </attribute>
      <attribute name="pitch">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="Plat0x9f">
    <element name="Plat0x9f">
      <attribute name="u32_0x6c">
        <text/>
      </attribute>
      <attribute name="u32_0x70">
        <text/>
      </attribute>
      <attribute name="u32_0x1c">
        <text/>
      </attribute>
      <attribute name="u32_0x28">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatSpinPause0x7c">
    <element name="PlatSpinPause0x7c">
      <attribute name="u16_0x0c">
        <text/>
      </attribute>
      <attribute name="u16_0x0a">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatSpinFlip">
    <element name="PlatSpinFlip">
      <attribute name="cooldown_timer">
        <text/>
      </attribute>
      <attribute name="theta">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="Plat0x7e">
    <element name="Plat0x7e">
      <attribute name="u32_0x28">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatConstantSpin">
    <element name="PlatConstantSpin">
      <attribute name="axis">
        <text/>
      </attribute>
      <attribute name="initial_theta">
        <text/>
      </attribute>
      <attribute name="speed">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatSpin0x80">
    <element name="PlatSpin0x80">
      <attribute name="idx">
        <text/>
      </attribute>
      <attribute name="f_0x1c">
        <text/>
      </attribute>
      <attribute name="u32_0x28">
        <text/>
      </attribute>
      <attribute name="u32_ustack56">
        <text/>
      </attribute>
      <attribute name="u32_0x2c">
        <text/>
      </attribute>
      <attribute name="f_0x6c">
        <text/>
      </attribute>
      <attribute name="f_0x70">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatTopple0x81">
    <element name="PlatTopple0x81">
      <attribute name="idx">
        <text/>
      </attribute>
      <attribute name="f_0x1c">
        <text/>
      </attribute>
      <attribute name="f_0x28">
        <text/>
      </attribute>
      <attribute name="f_0x24">
        <text/>
      </attribute>
      <attribute name="f_0x2c">
        <text/>
      </attribute>
      <attribute name="f_0x6c">
        <text/>
      </attribute>
      <attribute name="f_0x70_pivot_height">
        <text/>
      </attribute>
      <attribute name="u16_0x10">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="LookAtHand0x60">
    <element name="LookAtHand0x60">
      <attribute name="u32_0x6c">
        <text/>
      </attribute>
      <attribute name="u32_0x1c">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="LookAtBall0x61">
    <element name="LookAtBall0x61">
      <attribute name="u32_0x6c">
        <text/>
      </attribute>
      <attribute name="u32_0x1c">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatRocking">
    <element name="PlatRocking">
      <attribute name="axis">
        <text/>
      </attribute>
      <attribute name="theta">
        <text/>
      </attribute>
      <attribute name="deceleration">
        <text/>
      </attribute>
      <attribute name="blur_height">
        <text/>
      </attribute>
      <attribute name="frame_advance">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="Plat0x78">
    <element name="Plat0x78">
      <attribute name="u16_0x08">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatSound0xc1">
    <element name="PlatSound0xc1">
      <attribute name="sound_id">
        <text/>
      </attribute>
      <attribute name="volume">
        <text/>
      </attribute>
      <attribute name="pitch">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatSound0xc2">
    <element name="PlatSound0xc2">
      <attribute name="sound_id">
        <text/>
      </attribute>
      <attribute name="volume">
        <text/>
      </attribute>
      <attribute name="pitch">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatTurnTowardsPathPoint">
    <element name="PlatTurnTowardsPathPoint">
      <attribute name="input_1">
        <text/>
      </attribute>
      <attribute name="input_2">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatGoForwards0x5f">
    <element name="PlatGoForwards0x5f">
      <attribute name="u32_0x2c_0x6c">
        <text/>
      </attribute>
      <attribute name="u32_0x2c_0x1c">
        <text/>
      </attribute>
      <attribute name="u32_0xf0">
        <text/>
      </attribute>
      <attribute name="u32_0x2c_0x34">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatPathPoint">
    <element name="PlatPathPoint">
      <attribute name="duration">
        <text/>
      </attribute>
      <attribute name="x">
        <text/>
      </attribute>
      <attribute name="y">
        <text/>
      </attribute>
      <attribute name="z">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatMaxVelocity">
    <element name="PlatMaxVelocity">
      <attribute name="velocity">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatPathAcceleration">
    <element name="PlatPathAcceleration">
      <attribute name="acceleration">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatPos0xa7">
    <element name="PlatPos0xa7">
      <attribute name="u8_idx">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatSetInitialPos">
    <element name="PlatSetInitialPos">
      <attribute name="x">
        <text/>
      </attribute>
      <attribute name="y">
        <text/>
      </attribute>
      <attribute name="z">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatPlayObjectAnimation">
    <element name="PlatPlayObjectAnimation">
      <empty/>
    </element>
  </define>
  <define name="Plat0xa4">
    <element name="Plat0xa4">
      <empty/>
    </element>
  </define>
  <define name="PlatVentAdvanceFrames">
    <element name="PlatVentAdvanceFrames">
      <attribute name="num_frames">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatNoClip">
    <element name="PlatNoClip">
      <empty/>
    </element>
  </define>
  <define name="PlatDestructible">
    <element name="PlatDestructible">
      <attribute name="flags">
        <text/>
      </attribute>
      <attribute name="num_fragments">
        <text/>
      </attribute>
      <attribute name="fragment_object_id">
        <text/>
      </attribute>
      <attribute name="name">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatDestructibleSound">
    <element name="PlatDestructibleSound">
      <attribute name="sound_id">
        <text/>
      </attribute>
      <attribute name="volume">
        <text/>
      </attribute>
      <attribute name="pitch">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="Plat0x9d">
    <element name="Plat0x9d">
      <empty/>
    </element>
  </define>
  <define name="Plat0x66">
    <element name="Plat0x66">
      <empty/>
    </element>
  </define>
  <define name="PlatActorSurfaceType">
    <element name="PlatActorSurfaceType">
      <attribute name="value">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatSetTag">
    <element name="PlatSetTag">
      <attribute name="tag">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatSpike">
    <element name="PlatSpike">
      <empty/>
    </element>
  </define>
  <define name="PlatScale">
    <element name="PlatScale">
      <attribute name="x">
        <text/>
      </attribute>
      <attribute name="y">
        <text/>
      </attribute>
      <attribute name="z">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatStr0x7a">
    <element name="PlatStr0x7a">
      <attribute name="u32_0x0c">
        <text/>
      </attribute>
      <attribute name="u32_0x10">
        <text/>
      </attribute>
      <attribute name="u32_0x14">
        <text/>
      </attribute>
      <attribute name="u16_0x18">
        <text/>
      </attribute>
      <attribute name="u16_0x1c">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="Rope">
    <element name="Rope">
      <attribute name="num_components">
        <text/>
      </attribute>
      <attribute name="wiggle_axis">
        <text/>
      </attribute>
      <attribute name="component_obj_id">
        <text/>
      </attribute>
      <attribute name="name">
        <text/>
      </attribute>
      <attribute name="puzzle_unknown_1">
        <text/>
      </attribute>
      <attribute name="sway_unknown_1">
        <text/>
      </attribute>
      <attribute name="sway_unknown_2">
        <text/>
      </attribute>
      <attribute name="sway_unknown_3">
        <text/>
      </attribute>
      <attribute name="sway_rocking_theta">
        <text/>
      </attribute>
      <attribute name="sway_unknown_4">
        <text/>
      </attribute>
      <attribute name="sway_unknown_5">
        <text/>
      </attribute>
      <attribute name="x">
        <text/>
      </attribute>
      <attribute name="y">
        <text/>
      </attribute>
      <attribute name="z">
        <text/>
      </attribute>
      <attribute name="component_w">
        <text/>
      </attribute>
      <attribute name="component_h">
        <text/>
      </attribute>
      <attribute name="component_d">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatSine">
    <element name="PlatSine">
      <attribute name="u32_count">
        <text/>
      </attribute>
      <attribute name="u32_116">
        <text/>
      </attribute>
      <attribute name="name">
        <text/>
      </attribute>
      <attribute name="f_108">
        <text/>
      </attribute>
      <attribute name="f_104">
        <text/>
      </attribute>
      <attribute name="f_100">
        <text/>
      </attribute>
      <attribute name="f_96">
        <text/>
      </attribute>
      <attribute name="f_92">
        <text/>
      </attribute>
      <attribute name="f_88">
        <text/>
      </attribute>
      <attribute name="f_84">
        <text/>
      </attribute>
      <attribute name="f_80">
        <text/>
      </attribute>
      <attribute name="u32_176">
        <text/>
      </attribute>
      <attribute name="u32_172">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="PlatOrbit">
    <element name="PlatOrbit">
      <attribute name="u16_120">
        <text/>
      </attribute>
      <attribute name="u16_136">
        <text/>
      </attribute>
      <attribute name="u16_134">
        <text/>
      </attribute>
      <attribute name="u16_132">
        <text/>
      </attribute>
      <attribute name="u32_116">
        <text/>
      </attribute>
      <attribute name="name">
        <text/>
      </attribute>
      <attribute name="f_112">
        <text/>
      </attribute>
      <attribute name="f_108">
        <text/>
      </attribute>
      <attribute name="f_104">
        <text/>
      </attribute>
      <attribute name="f_100">
        <text/>
      </attribute>
      <attribute name="f_96">
        <text/>
      </attribute>
      <attribute name="f_92">
        <text/>
      </attribute>
      <attribute name="f_88">
        <text/>
      </attribute>
      <attribute name="f_84">
        <text/>
      </attribute>
      <attribute name="f_80">
        <text/>
      </attribute>
      <attribute name="u32_176">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="Vent">
    <element name="Vent">
      <attribute name="type">
        <text/>
      </attribute>
      <attribute name="u16_0x0a">
        <text/>
      </attribute>
      <attribute name="parent_tag">
        <text/>
      </attribute>
      <attribute name="origin_x">
        <text/>
      </attribute>
      <attribute name="origin_y">
        <text/>
      </attribute>
      <attribute name="origin_z">
        <text/>
      </attribute>
      <attribute name="particle_velocity_x">
        <text/>
      </attribute>
      <attribute name="particle_velocity_y">
        <text/>
      </attribute>
      <attribute name="particle_velocity_z">
        <text/>
      </attribute>
      <interleave>
        <zeroOrMore>
          <ref name="PlatVentAdvanceFrames"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="VentDutyCycle"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="VentDutyCycle">
    <element name="VentDutyCycle">
      <attribute name="frames_off">
        <text/>
      </attribute>
      <attribute name="frames_on">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="Platform">
    <element name="Platform">
      <attribute name="object_id">
        <text/>
      </attribute>
      <attribute name="name">
        <text/>
      </attribute>
      <interleave>
        <zeroOrMore>
          <ref name="PlatMvspn0x58"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatMvspn0x59"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatMvspn0x5a"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSetParent"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatMvspn0x73"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatMvspn0x74"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatCopySpinFromParent"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpecial0xb8"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatActorEnableWaterAnimation"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="SetObjectSparkle"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpecial0xb9"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="SetExit"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatCat0x69"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatformConveyor"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpecial0x9e"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="SetTeleport"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatFan0x8a"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatMagnet0x8b"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatCheckpoint"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatCrumb0x67"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpecial0xc7"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpecial0x6e"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpecial0x8e"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatPush0x5b"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatConf0x72"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatOrbitSound0xc4"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Plat0xc6"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatOrbitAroundPoint"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatOrbitPause"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatOrbitFlip0x77"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Plat0xc3"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpinSound0xc5"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Plat0x9f"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpinPause0x7c"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpinFlip"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Plat0x7e"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatConstantSpin"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpin0x80"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatTopple0x81"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="LookAtHand0x60"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="LookAtBall0x61"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatRocking"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Plat0x78"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSound0xc1"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSound0xc2"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatTurnTowardsPathPoint"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatGoForwards0x5f"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatPathPoint"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatMaxVelocity"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatPathAcceleration"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatPos0xa7"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSetInitialPos"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatPlayObjectAnimation"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Plat0xa4"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatVentAdvanceFrames"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatNoClip"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatDestructible"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatDestructibleSound"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Plat0x9d"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Plat0x66"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatActorSurfaceType"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSetTag"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpike"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatScale"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="NullPlatform">
    <element name="NullPlatform">
      <interleave>
        <zeroOrMore>
          <ref name="PlatMvspn0x58"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatMvspn0x59"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatMvspn0x5a"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSetParent"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatMvspn0x73"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatMvspn0x74"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatCopySpinFromParent"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpecial0xb8"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatActorEnableWaterAnimation"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="SetObjectSparkle"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpecial0xb9"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="SetExit"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatCat0x69"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatformConveyor"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpecial0x9e"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="SetTeleport"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatFan0x8a"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatMagnet0x8b"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatCheckpoint"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatCrumb0x67"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpecial0xc7"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpecial0x6e"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpecial0x8e"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatPush0x5b"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatConf0x72"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatOrbitSound0xc4"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Plat0xc6"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatOrbitAroundPoint"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatOrbitPause"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatOrbitFlip0x77"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Plat0xc3"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpinSound0xc5"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Plat0x9f"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpinPause0x7c"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpinFlip"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Plat0x7e"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatConstantSpin"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpin0x80"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatTopple0x81"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="LookAtHand0x60"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="LookAtBall0x61"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatRocking"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Plat0x78"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSound0xc1"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSound0xc2"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatTurnTowardsPathPoint"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatGoForwards0x5f"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatPathPoint"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatMaxVelocity"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatPathAcceleration"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatPos0xa7"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSetInitialPos"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatPlayObjectAnimation"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Plat0xa4"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatVentAdvanceFrames"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatNoClip"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatDestructible"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatDestructibleSound"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Plat0x9d"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Plat0x66"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatActorSurfaceType"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSetTag"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatSpike"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="PlatScale"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Enemy">
    <element name="Enemy">
      <attribute name="type">
        <text/>
      </attribute>
      <attribute name="u1">
        <text/>
      </attribute>
      <attribute name="x">
        <text/>
      </attribute>
      <attribute name="y">
        <text/>
      </attribute>
      <attribute name="z">
        <text/>
      </attribute>
      <attribute name="y_rotation">
        <text/>
      </attribute>
      <interleave>
        <zeroOrMore>
          <ref name="EnemySetAttentionBbox"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Enemy0xba"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="EnemyFinalize"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="NormalInstructions"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="ConditionalInstructions"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="AttackInstructions"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="EnemySetAttentionBbox">
    <element name="EnemySetAttentionBbox">
      <attribute name="left">
        <text/>
      </attribute>
      <attribute name="top">
        <text/>
      </attribute>
      <attribute name="front">
        <text/>
      </attribute>
      <attribute name="width">
        <text/>
      </attribute>
      <attribute name="height">
        <text/>
      </attribute>
      <attribute name="depth">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="Enemy0xba">
    <element name="Enemy0xba">
      <empty/>
    </element>
  </define>
  <define name="EnemyFinalize">
    <element name="EnemyFinalize">
      <empty/>
    </element>
  </define>
  <define name="NormalInstructions">
    <element name="NormalInstructions">
      <interleave>
        <zeroOrMore>
          <ref name="EnemyInstruction"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="ConditionalInstructions">
    <element name="ConditionalInstructions">
      <interleave>
        <zeroOrMore>
          <ref name="EnemyInstruction"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="AttackInstructions">
    <element name="AttackInstructions">
      <interleave>
        <zeroOrMore>
          <ref name="EnemyInstruction"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="EnemyInstruction">
    <element name="EnemyInstruction">
      <attribute name="lifetime">
        <text/>
      </attribute>
      <attribute name="execution_condition_param_a">
        <text/>
      </attribute>
      <attribute name="execution_condition_param_b">
        <text/>
      </attribute>
      <attribute name="flags">
        <text/>
      </attribute>
      <attribute name="execution_condition">
        <text/>
      </attribute>
      <choice>
        <group>
          <!--Case 0x0-->
          <attribute name="instr_type">
            <data type="string">
              <param name="pattern">0|0x0*0</param>
            </data>
          </attribute>
          <ref name="EnemyInstructionMove"/>
        </group>
        <group>
          <!--Case 0x1-->
          <attribute name="instr_type">
            <data type="string">
              <param name="pattern">1|0x0*1</param>
            </data>
          </attribute>
          <ref name="EnemyInstructionDash"/>
        </group>
        <group>
          <!--Case 0x2-->
          <attribute name="instr_type">
            <data type="string">
              <param name="pattern">2|0x0*2</param>
            </data>
          </attribute>
          <ref name="EnemyInstructionTurn"/>
        </group>
        <group>
          <!--Case 0x9-->
          <attribute name="instr_type">
            <data type="string">
              <param name="pattern">9|0x0*9</param>
            </data>
          </attribute>
          <ref name="EnemyInstructionA"/>
        </group>
        <group>
          <!--Case 0xA-->
          <attribute name="instr_type">
            <data type="string">
              <param name="pattern">10|0x0*[Aa]</param>
            </data>
          </attribute>
          <ref name="EnemyInstructionA"/>
        </group>
        <group>
          <!--Case 0xB-->
          <attribute name="instr_type">
            <data type="string">
              <param name="pattern">11|0x0*[Bb]</param>
            </data>
          </attribute>
          <ref name="EnemyInstructionA"/>
        </group>
        <group>
          <!--Case 0xD-->
          <attribute name="instr_type">
            <data type="string">
              <param name="pattern">13|0x0*[Dd]</param>
            </data>
          </attribute>
          <ref name="EnemyInstructionA"/>
        </group>
        <group>
          <!--Case 0x16-->
          <attribute name="instr_type">
            <data type="string">
              <param name="pattern">22|0x0*16</param>
            </data>
          </attribute>
          <ref name="EnemyInstructionA"/>
        </group>
        <group>
          <!--Case 0x17-->
          <attribute name="instr_type">
            <data type="string">
              <param name="pattern">23|0x0*17</param>
            </data>
          </attribute>
          <ref name="EnemyInstructionA"/>
        </group>
        <group>
          <!--Case 0x3-->
          <attribute name="instr_type">
            <data type="string">
              <param name="pattern">3|0x0*3</param>
            </data>
          </attribute>
          <ref name="EnemyInstructionRandomWalk"/>
        </group>
        <group>
          <!--Case 0x4-->
          <attribute name="instr_type">
            <data type="string">
              <param name="pattern">4|0x0*4</param>
            </data>
          </attribute>
          <ref name="EnemyInstructionRest"/>
        </group>
        <group>
          <!--Case 0x5-->
          <attribute name="instr_type">
            <data type="string">
              <param name="pattern">5|0x0*5</param>
            </data>
          </attribute>
          <ref name="EnemyInstructionC"/>
        </group>
        <group>
          <!--Case 0x6-->
          <attribute name="instr_type">
            <data type="string">
              <param name="pattern">6|0x0*6</param>
            </data>
          </attribute>
          <ref name="EnemyInstructionC"/>
        </group>
        <group>
          <!--Case 0x7-->
          <attribute name="instr_type">
            <data type="string">
              <param name="pattern">7|0x0*7</param>
            </data>
          </attribute>
          <ref name="EnemyInstructionPlayAnimation"/>
        </group>
        <group>
          <!--Case 0x8-->
          <attribute name="instr_type">
            <data type="string">
              <param name="pattern">8|0x0*8</param>
            </data>
          </attribute>
          <ref name="EnemyInstructionC"/>
        </group>
        <group>
          <!--Case 0xC-->
          <attribute name="instr_type">
            <data type="string">
              <param name="pattern">12|0x0*[Cc]</param>
            </data>
          </attribute>
          <ref name="EnemyInstructionC"/>
        </group>
        <group>
          <!--Case 0xE-->
          <attribute name="instr_type">
            <data type="string">
              <param name="pattern">14|0x0*[Ee]</param>
            </data>
          </attribute>
          <ref name="EnemyInstructionC"/>
        </group>
        <group>
          <!--Case 0xF-->
          <attribute name="instr_type">
            <data type="string">
              <param name="pattern">15|0x0*[Ff]</param>
            </data>
          </attribute>
          <ref name="EnemyInstructionAttack"/>
        </group>
        <group>
          <!--Case 0x10-->
          <attribute name="instr_type">
            <data type="string">
              <param name="pattern">16|0x0*10</param>
            </data>
          </attribute>
          <ref name="EnemyInstructionC"/>
        </group>
        <group>
          <!--Case 0x11-->
          <attribute name="instr_type">
            <data type="string">
              <param name="pattern">17|0x0*11</param>
            </data>
          </attribute>
          <ref name="EnemyInstructionC"/>
        </group>
        <group>
          <!--Case 0x12-->
          <attribute name="instr_type">
            <data type="string">
              <param name="pattern">18|0x0*12</param>
            </data>
          </attribute>
          <ref name="EnemyInstructionGoto"/>
        </group>
        <group>
          <!--Case 0x13-->
          <attribute name="instr_type">
            <data type="string">
              <param name="pattern">19|0x0*13</param>
            </data>
          </attribute>
          <ref name="EnemyInstructionC"/>
        </group>
        <group>
          <!--Case 0x14-->
          <attribute name="instr_type">
            <data type="string">
              <param name="pattern">20|0x0*14</param>
            </data>
          </attribute>
          <ref name="EnemyInstructionC"/>
        </group>
        <group>
          <!--Case 0x15-->
          <attribute name="instr_type">
            <data type="string">
              <param name="pattern">21|0x0*15</param>
            </data>
          </attribute>
          <ref name="EnemyInstructionC"/>
        </group>
        <group>
          <!--Case 0x18-->
          <attribute name="instr_type">
            <data type="string">
              <param name="pattern">24|0x0*18</param>
            </data>
          </attribute>
          <ref name="EnemyInstructionC"/>
        </group>
        <group>
          <!--Default case (only for types not listed above!)-->
          <attribute name="instr_type">
            <text/>
          </attribute>
          <ref name="EnemyInstructionError"/>
        </group>
      </choice>
    </element>
  </define>
  <define name="EnemyInstructionA">
    <element name="EnemyInstructionA">
      <attribute name="u32_0x02">
        <text/>
      </attribute>
      <attribute name="u32_0x06">
        <text/>
      </attribute>
      <attribute name="u32_0x0a">
        <text/>
      </attribute>
      <attribute name="u32_0x0e">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="EnemyInstructionDash">
    <element name="EnemyInstructionDash">
      <attribute name="destination_x">
        <text/>
      </attribute>
      <attribute name="destination_y">
        <text/>
      </attribute>
      <attribute name="destination_z">
        <text/>
      </attribute>
      <attribute name="vel_magnitude">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="EnemyInstructionMove">
    <element name="EnemyInstructionMove">
      <attribute name="destination_x">
        <text/>
      </attribute>
      <attribute name="destination_y">
        <text/>
      </attribute>
      <attribute name="destination_z">
        <text/>
      </attribute>
      <attribute name="vel_magnitude">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="EnemyInstructionTurn">
    <element name="EnemyInstructionTurn">
      <attribute name="lookat_x">
        <text/>
      </attribute>
      <attribute name="lookat_y">
        <text/>
      </attribute>
      <attribute name="lookat_z">
        <text/>
      </attribute>
      <attribute name="choose_random_direction">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="EnemyInstructionGoto">
    <element name="EnemyInstructionGoto">
      <attribute name="instr_idx">
        <text/>
      </attribute>
      <attribute name="unused">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="EnemyInstructionRandomWalk">
    <element name="EnemyInstructionRandomWalk">
      <attribute name="home_x">
        <text/>
      </attribute>
      <attribute name="home_y">
        <text/>
      </attribute>
      <attribute name="home_z">
        <text/>
      </attribute>
      <attribute name="extent_x">
        <text/>
      </attribute>
      <attribute name="extent_y">
        <text/>
      </attribute>
      <attribute name="extent_z">
        <text/>
      </attribute>
      <attribute name="min_travel_distance">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="EnemyInstructionPlayAnimation">
    <element name="EnemyInstructionPlayAnimation">
      <attribute name="anim_idx_1">
        <text/>
      </attribute>
      <attribute name="anim_idx_2">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="EnemyInstructionRest">
    <element name="EnemyInstructionRest">
      <attribute name="flags">
        <text/>
      </attribute>
      <attribute name="anim_start_playing">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="EnemyInstructionAttack">
    <element name="EnemyInstructionAttack">
      <attribute name="unused_1">
        <text/>
      </attribute>
      <attribute name="unused_2">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="EnemyInstructionC">
    <element name="EnemyInstructionC">
      <attribute name="u32_0x02">
        <text/>
      </attribute>
      <attribute name="u32_0x0e">
        <text/>
      </attribute>
    </element>
  </define>
  <define name="EnemyInstructionError">
    <element name="EnemyInstructionError">
      <empty/>
    </element>
  </define>
  <define name="EndLevelData">
    <element name="EndLevelData">
      <empty/>
    </element>
  </define>
  <define name="Noop">
    <element name="Noop">
      <empty/>
    </element>
  </define>
  <define name="Unknown">
    <element name="Unknown">
      <empty/>
    </element>
  </define>
</grammar>

